core/docs/xmldefs/oagis/BODs/AcknowledgePurchaseOrder.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
    License information for this file is provided in LICENSE.TXT
    For support, more information, or to report implementation bugs, 
    please contact the Open Applications Group at xml@openapplications.org 
     
    ** Revision: 8.0 **
    ** Date: 05 April 2002 **
    Open Applications Group XSD
    Copyright 1998-2002, All Rights Reserved
    
    Name: AcknowledgePurchaseOrder.xsd
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis" targetNamespace="http://www.openapplications.org/oagis" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xs:include schemaLocation="../Resources/Verbs/Acknowledge.xsd"/>
        <xs:include schemaLocation="../Resources/Nouns/PurchaseOrder.xsd"/>
        <xs:element name="AcknowledgePurchaseOrder" type="AcknowledgePurchaseOrder">
                <xs:annotation>
                        <xs:documentation source="http://www.openapplications.org/oagis">The purpose of the ACKNOWLDGE PO Business Object Document is to acknowledge receipt of the Purchase Order and to reflect any changes.
Commonly, the acknowledgment is generated by an order management application and transmitted to a purchasing or procurement application.
</xs:documentation>
                </xs:annotation>
        </xs:element>
        <xs:complexType name="AcknowledgePurchaseOrder">
                <xs:complexContent>
                        <xs:extension base="BusinessObjectDocument">
                                <xs:sequence>
                                        <xs:element name="DataArea" type="AcknowledgePurchaseOrderDataArea">
                                                <xs:annotation>
                                                        <xs:documentation source="http://www.openapplications.org/oagis">Is where the information that the BOD message carries is provided, in this case AcknowledgePurchaseOrder. The information consists of a Verb and one or more Nouns. The verb (Acknowledge) indicates the action to be performed on the Noun (PurchaseOrder).</xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                </xs:sequence>
                        </xs:extension>
                </xs:complexContent>
        </xs:complexType>
        <xs:complexType name="AcknowledgePurchaseOrderDataArea">
                <xs:complexContent>
                        <xs:extension base="DataArea">
                                <xs:sequence>
                                        <xs:element ref="Acknowledge"/>
                                        <xs:element ref="PurchaseOrder" maxOccurs="unbounded"/>
                                </xs:sequence>
                        </xs:extension>
                </xs:complexContent>
        </xs:complexType>
</xs:schema>
