core/docs/xmldefs/oagis/BODs/GetSequenceSchedule.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
    License information for this file is provided in LICENSE.TXT
    For support, more information, or to report implementation bugs, 
    please contact the Open Applications Group at xml@openapplications.org 
     
    ** Revision: 8.0 **
    ** Date: 05 April 2002 **
    Open Applications Group XSD
    Copyright 1998-2002, All Rights Reserved
    
    Name: GetSequenceSchedule.xsd
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis" targetNamespace="http://www.openapplications.org/oagis" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xs:include schemaLocation="../Resources/Verbs/Get.xsd"/>
        <xs:include schemaLocation="../Resources/Nouns/SequenceSchedule.xsd"/>
        <xs:element name="GetSequenceSchedule" type="GetSequenceSchedule">
                <xs:annotation>
                        <xs:documentation source="http://www.openapplications.org/oagis">Commonly, the sequence schedule is generated by a work in process application and transmitted to an order or material planning application.

The purpose of the GetSequenceSchedule is to enable a business applications module to request this SequenceSchedule information from another business application. The response to this BOD is ShowSequenceSchedule.</xs:documentation>
                </xs:annotation>
        </xs:element>
        <xs:complexType name="GetSequenceSchedule">
                <xs:complexContent>
                        <xs:extension base="BusinessObjectDocument">
                                <xs:sequence>
                                        <xs:element name="DataArea" type="GetSequenceScheduleDataArea">
                                                <xs:annotation>
                                                        <xs:documentation source="http://www.openapplications.org/oagis">Is where the information that the BOD message carries is provided, in this case GetSequenceSchedule. The information consists of a Verb and one or more Nouns. The verb (Get) indicates the action to be performed on the Noun (SequenceSchedule).</xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                </xs:sequence>
                        </xs:extension>
                </xs:complexContent>
        </xs:complexType>
        <xs:complexType name="GetSequenceScheduleDataArea">
                <xs:complexContent>
                        <xs:extension base="DataArea">
                                <xs:sequence>
                                        <xs:element ref="Get"/>
                                        <xs:element ref="SequenceSchedule" maxOccurs="unbounded"/>
                                </xs:sequence>
                        </xs:extension>
                </xs:complexContent>
        </xs:complexType>
</xs:schema>
