core/docs/xmldefs/oagis/BODs/ShowShipmentSchedule.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
    License information for this file is provided in LICENSE.TXT
    For support, more information, or to report implementation bugs, 
    please contact the Open Applications Group at xml@openapplications.org 
     
    ** Revision: 8.0 **
    ** Date: 05 April 2002 **
    Open Applications Group XSD
    Copyright 1998-2002, All Rights Reserved
    
    Name: ShowShipmentSchedule.xsd
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis" targetNamespace="http://www.openapplications.org/oagis" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xs:include schemaLocation="../Resources/Verbs/Show.xsd"/>
        <xs:include schemaLocation="../Resources/Nouns/ShipmentSchedule.xsd"/>
        <xs:element name="ShowShipmentSchedule" type="ShowShipmentSchedule">
                <xs:annotation>
                        <xs:documentation source="http://www.openapplications.org/oagis">Commonly, the ship schedule is generated by a material planning application and transmitted to an order or material planning application.
   
The purpose of the ShowShipmentSchedule is to communicate to a business application module or system the sending systems representation of ShipmentSchedule information.  This request may be used as a response to a GetShipmentSchedule request or as a push notification of an event.</xs:documentation>
                </xs:annotation>
        </xs:element>
        <xs:complexType name="ShowShipmentSchedule">
                <xs:complexContent>
                        <xs:extension base="BusinessObjectDocument">
                                <xs:sequence>
                                        <xs:element name="DataArea" type="ShowShipmentScheduleDataArea">
                                                <xs:annotation>
                                                        <xs:documentation source="http://www.openapplications.org/oagis">Is where the information that the BOD message carries is provided, in this case ShowShipmentSchedule. The information consists of a Verb and one or more Nouns. The verb (Show) indicates the action to be performed on the Noun (ShipmentSchedule).</xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                </xs:sequence>
                        </xs:extension>
                </xs:complexContent>
        </xs:complexType>
        <xs:complexType name="ShowShipmentScheduleDataArea">
                <xs:complexContent>
                        <xs:extension base="DataArea">
                                <xs:sequence>
                                        <xs:element ref="Show"/>
                                        <xs:element ref="ShipmentSchedule" maxOccurs="unbounded"/>
                                </xs:sequence>
                        </xs:extension>
                </xs:complexContent>
        </xs:complexType>
</xs:schema>
