components/content/dtd/widget-screen.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  To refer to this DTD in your XML file, use the following declaration:
<!DOCTYPE forms PUBLIC "-//OFBiz//DTD OFBiz Form Widget//EN" "http://www.ofbiz.org/dtds/widget-screen.dtd">
-->

<!--
 *  Copyright (c) 2004 The Open For Business Project - www.ofbiz.org
 *
 *  Permission is hereby granted, free of charge, to any person obtaining a
 *  copy of this software and associated documentation files (the "Software"),
 *  to deal in the Software without restriction, including without limitation
 *  the rights to use, copy, modify, merge, publish, distribute, sublicense,
 *  and/or sell copies of the Software, and to permit persons to whom the
 *  Software is furnished to do so, subject to the following conditions:
 *
 *  The above copyright notice and this permission notice shall be included
 *  in all copies or substantial portions of the Software.
 *
 *  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
 *  OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
 *  MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
 *  IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY
 *  CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT
 *  OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR
 *  THE USE OR OTHER DEALINGS IN THE SOFTWARE.

 *  $Id: widget-screen.dtd,v 1.1 2004/06/27 01:07:05 jonesde Exp $
-->

<!ENTITY % AllWidgets "container | label | sub-screen | form | menu | tree | content | sub-content | template">


<!ELEMENT screens ( screen+ )>

<!ELEMENT screen ( action*, container )>
<!ATTLIST screen
    name CDATA #REQUIRED
>

<!ELEMENT container ( (%AllWidgets;)* )>
<!ATTLIST container
    id CDATA #IMPLIED
    style CDATA #IMPLIED
>

<!ELEMENT label (#PCDATA)>
<!ATTLIST label
    text CDATA #IMPLIED
    id CDATA #IMPLIED
    style CDATA #IMPLIED
>

<!ELEMENT sub-screen EMPTY>
<!ATTLIST sub-screen
    name CDATA #REQUIRED
    location CDATA #REQUIRED
>

<!ELEMENT form EMPTY>
<!ATTLIST form
    name CDATA #REQUIRED
    location CDATA #REQUIRED
>

<!ELEMENT menu EMPTY>
<!ATTLIST menu
    name CDATA #REQUIRED
    location CDATA #REQUIRED
>

<!ELEMENT tree EMPTY>
<!ATTLIST tree
    name CDATA #REQUIRED
    location CDATA #REQUIRED
>

<!ELEMENT content EMPTY>
<!ATTLIST content
    content-id CDATA #REQUIRED
>

<!ELEMENT sub-content EMPTY>
<!ATTLIST sub-content
    content-id CDATA #REQUIRED
    assoc-name CDATA #REQUIRED
>

<!ELEMENT template EMPTY>
<!ATTLIST template
    location CDATA #REQUIRED
>

<!-- do we really want to encourage this? would rather do it on the screen level, and regions too... -->
<!ELEMENT template-decorator ( (%AllWidgets;)* )>
<!ATTLIST template-decorator
    location CDATA #REQUIRED
>

