components/content/dtd/widget-menu.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    *  Copyright (c) 2003-2004 The Open For Business Project - www.ofbiz.org
    *
    *  Permission is hereby granted, free of charge, to any person obtaining a
    *  copy of this software and associated documentation files (the "Software"),
    *  to deal in the Software without restriction, including without limitation
    *  the rights to use, copy, modify, merge, publish, distribute, sublicense,
    *  and/or sell copies of the Software, and to permit persons to whom the
    *  Software is furnished to do so, subject to the following conditions:
    *
    *  The above copyright notice and this permission notice shall be included
    *  in all copies or substantial portions of the Software.
    *
    *  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
    *  OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
    *  MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
    *  IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY
    *  CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT
    *  OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR
    *  THE USE OR OTHER DEALINGS IN THE SOFTWARE.
    
    *  $Id: widget-menu.dtd 3795 2004-10-27 05:43:59Z byersa $
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="AllConditionals" abstract="true"/>
    <xs:element name="AllActions" abstract="true"/>
    <xs:element name="menus">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="menu"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="menu">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="actions"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="menu-item"/>
            </xs:sequence>
            <xs:attributeGroup ref="attlist.menu"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.menu">
        <xs:attribute name="name" use="required"/>
        <xs:attribute name="type" default="simple">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="simple"/>
                    <xs:enumeration value="cascade"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="title"/>
        <xs:attribute name="tooltip"/>
        <xs:attribute name="default-entity-name"/>
        <xs:attribute name="default-title-style"/>
        <xs:attribute name="default-widget-style"/>
        <xs:attribute name="default-tooltip-style"/>
        <xs:attribute name="default-selected-style"/>
        <xs:attribute name="orientation" default="horizontal">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="vertical"/>
                    <xs:enumeration value="horizontal"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="extends"/>
        <xs:attribute name="extends-resource"/>
        <xs:attribute name="default-menu-item-name"/>
        <xs:attribute name="default-associated-content-id"/>
        <xs:attribute name="default-hide-if-selected" default="false">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="true"/>
                    <xs:enumeration value="false"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="menu-width"/>
        <xs:attribute name="default-cell-width"/>
        <xs:attribute name="default-disabled-title-style"/>
        <xs:attribute name="selected-menuitem-context-field-name" default="currentMenuItemName"/>
        <xs:attribute name="menu-wrapper-style"/>
    </xs:attributeGroup>
    <xs:element name="menu-item">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="condition"/>
                <xs:element minOccurs="0" ref="actions"/>
                <xs:element minOccurs="0" ref="link"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="menu-item"/>
            </xs:sequence>
            <xs:attributeGroup ref="attlist.menu-item"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.menu-item">
        <xs:attribute name="name" use="required"/>
        <xs:attribute name="title"/>
        <xs:attribute name="tooltip"/>
        <xs:attribute name="title-style"/>
        <xs:attribute name="widget-style"/>
        <xs:attribute name="tooltip-style"/>
        <xs:attribute name="selected-style"/>
        <xs:attribute name="position" default="1"/>
        <xs:attribute name="associated-content-id"/>
        <xs:attribute name="hide-if-selected"/>
        <xs:attribute name="cell-width"/>
        <xs:attribute name="disable-if-empty"/>
        <xs:attribute name="disabled-title-style"/>
        <xs:attribute name="target-window"/>
        <xs:attribute name="sub-menu"/>
    </xs:attributeGroup>
    <xs:element name="actions">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="AllActions"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="set" substitutionGroup="AllActions">
        <xs:complexType>
            <xs:attributeGroup ref="attlist.set"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.set">
        <xs:attribute name="field" use="required"/>
        <xs:attribute name="from-field"/>
        <xs:attribute name="value"/>
        <xs:attribute name="default-value"/>
        <xs:attribute name="global" default="false">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="true"/>
                    <xs:enumeration value="false"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="type" default="String">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="PlainString"/>
                    <xs:enumeration value="String"/>
                    <xs:enumeration value="Double"/>
                    <xs:enumeration value="Float"/>
                    <xs:enumeration value="Long"/>
                    <xs:enumeration value="Integer"/>
                    <xs:enumeration value="Date"/>
                    <xs:enumeration value="Time"/>
                    <xs:enumeration value="Timestamp"/>
                    <xs:enumeration value="Boolean"/>
                    <xs:enumeration value="Object"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="to-scope" default="screen">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="screen"/>
                    <xs:enumeration value="user"/>
                    <xs:enumeration value="application"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="from-scope" default="screen">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="screen"/>
                    <xs:enumeration value="user"/>
                    <xs:enumeration value="application"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:element name="property-map" substitutionGroup="AllActions">
        <xs:complexType>
            <xs:attributeGroup ref="attlist.property-map"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.property-map">
        <xs:attribute name="resource" use="required"/>
        <xs:attribute name="map-name" use="required"/>
        <xs:attribute name="global" default="false">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="true"/>
                    <xs:enumeration value="false"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:element name="property-to-field" substitutionGroup="AllActions">
        <xs:complexType>
            <xs:attributeGroup ref="attlist.property-to-field"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.property-to-field">
        <xs:attribute name="resource" use="required"/>
        <xs:attribute name="property" use="required"/>
        <xs:attribute name="field" use="required"/>
        <xs:attribute name="default"/>
        <xs:attribute name="no-locale" default="false">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="true"/>
                    <xs:enumeration value="false"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="arg-list-name"/>
    </xs:attributeGroup>
    <xs:element name="script" substitutionGroup="AllActions">
        <xs:complexType>
            <xs:attributeGroup ref="attlist.script"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.script">
        <xs:attribute name="location" use="required"/>
    </xs:attributeGroup>
    <xs:element name="image">
        <xs:complexType mixed="true">
            <xs:attributeGroup ref="attlist.image"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.image">
        <xs:attribute name="src"/>
        <xs:attribute name="id"/>
        <xs:attribute name="style"/>
        <xs:attribute name="width"/>
        <xs:attribute name="height"/>
        <xs:attribute name="border"/>
        <xs:attribute name="url-mode" default="content">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="ofbiz"/>
                    <xs:enumeration value="content"/>
                    <xs:enumeration value="raw"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:element name="link">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="image"/>
            </xs:sequence>
            <xs:attributeGroup ref="attlist.link"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.link">
        <xs:attribute name="text"/>
        <xs:attribute name="id"/>
        <xs:attribute name="style"/>
        <xs:attribute name="name"/>
        <xs:attribute name="target"/>
        <xs:attribute name="target-window"/>
        <xs:attribute name="prefix"/>
        <xs:attribute name="url-mode" default="intra-app">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="intra-app"/>
                    <xs:enumeration value="inter-app"/>
                    <xs:enumeration value="content"/>
                    <xs:enumeration value="plain"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="full-path" default="false">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="true"/>
                    <xs:enumeration value="false"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="secure" default="false">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="true"/>
                    <xs:enumeration value="false"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="encode" default="false">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="true"/>
                    <xs:enumeration value="false"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:element name="condition">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="AllConditionals"/>
            </xs:sequence>
            <xs:attributeGroup ref="attlist.condition"/>
        </xs:complexType>
    </xs:element>
    <!--
        * If a pass-style provided and the condition passes, the widget-style of
        * the parent menu-item is set with the pass-style. If no pass-style is given,
        * the widget-style is not changed.
        * If a disabled-style provided and the condition fails, the disabled-style of
        * the parent menu-item is set with the disabled-style and processing is allowed to continue. 
        * If no disabled-style is given, the widget-style is not changed and the menu-item is not rendered.
    -->
    <xs:attributeGroup name="attlist.condition">
        <xs:attribute name="pass-style"/>
        <xs:attribute name="disabled-style"/>
    </xs:attributeGroup>
    <xs:element name="and" substitutionGroup="AllConditionals">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="AllConditionals"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="xor" substitutionGroup="AllConditionals">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="AllConditionals"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="or" substitutionGroup="AllConditionals">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="AllConditionals"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="not" substitutionGroup="AllConditionals">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="AllConditionals"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="if-has-permission" substitutionGroup="AllConditionals">
        <xs:complexType>
            <xs:attributeGroup ref="attlist.if-has-permission"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.if-has-permission">
        <xs:attribute name="permission" use="required"/>
        <xs:attribute name="action"/>
    </xs:attributeGroup>
    <xs:element name="if-entity-permission" substitutionGroup="AllConditionals">
        <xs:complexType>
            <xs:attributeGroup ref="attlist.if-entity-permission"/>
        </xs:complexType>
    </xs:element>
    <!-- entity-id and target-operation can have multiple pipe separated values. Don't use spaces. -->
    <xs:attributeGroup name="attlist.if-entity-permission">
        <xs:attribute name="entity-name" use="required"/>
        <xs:attribute name="entity-id" use="required"/>
        <xs:attribute name="target-operation" use="required"/>
    </xs:attributeGroup>
    <!-- if-validate-method calls a static Java method that takes a String and returns a boolean -->
    <xs:element name="if-validate-method" substitutionGroup="AllConditionals">
        <xs:complexType>
            <xs:attributeGroup ref="attlist.if-validate-method"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.if-validate-method">
        <xs:attribute name="field-name" use="required"/>
        <xs:attribute name="method" use="required"/>
        <xs:attribute name="class" default="org.ofbiz.base.util.UtilValidate"/>
    </xs:attributeGroup>
    <xs:element name="if-compare" substitutionGroup="AllConditionals">
        <xs:complexType>
            <xs:attributeGroup ref="attlist.if-compare"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.if-compare">
        <xs:attribute name="field-name" use="required"/>
        <xs:attribute name="operator" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="less"/>
                    <xs:enumeration value="greater"/>
                    <xs:enumeration value="less-equals"/>
                    <xs:enumeration value="greater-equals"/>
                    <xs:enumeration value="equals"/>
                    <xs:enumeration value="not-equals"/>
                    <xs:enumeration value="contains"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="value" use="required"/>
        <xs:attribute name="type" default="String">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="PlainString"/>
                    <xs:enumeration value="String"/>
                    <xs:enumeration value="Double"/>
                    <xs:enumeration value="Float"/>
                    <xs:enumeration value="Long"/>
                    <xs:enumeration value="Integer"/>
                    <xs:enumeration value="Date"/>
                    <xs:enumeration value="Time"/>
                    <xs:enumeration value="Timestamp"/>
                    <xs:enumeration value="Boolean"/>
                    <xs:enumeration value="Object"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="format"/>
    </xs:attributeGroup>
    <xs:element name="if-compare-field" substitutionGroup="AllConditionals">
        <xs:complexType>
            <xs:attributeGroup ref="attlist.if-compare-field"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.if-compare-field">
        <xs:attribute name="field-name" use="required"/>
        <xs:attribute name="operator" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="less"/>
                    <xs:enumeration value="greater"/>
                    <xs:enumeration value="less-equals"/>
                    <xs:enumeration value="greater-equals"/>
                    <xs:enumeration value="equals"/>
                    <xs:enumeration value="not-equals"/>
                    <xs:enumeration value="contains"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="to-field-name"/>
        <xs:attribute name="type" default="String">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="PlainString"/>
                    <xs:enumeration value="String"/>
                    <xs:enumeration value="Double"/>
                    <xs:enumeration value="Float"/>
                    <xs:enumeration value="Long"/>
                    <xs:enumeration value="Integer"/>
                    <xs:enumeration value="Date"/>
                    <xs:enumeration value="Time"/>
                    <xs:enumeration value="Timestamp"/>
                    <xs:enumeration value="Boolean"/>
                    <xs:enumeration value="Object"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="format"/>
    </xs:attributeGroup>
    <xs:element name="if-regexp" substitutionGroup="AllConditionals">
        <xs:complexType>
            <xs:attributeGroup ref="attlist.if-regexp"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.if-regexp">
        <xs:attribute name="field-name" use="required"/>
        <xs:attribute name="expr" use="required"/>
    </xs:attributeGroup>
    <xs:element name="if-empty" substitutionGroup="AllConditionals">
        <xs:complexType>
            <xs:attributeGroup ref="attlist.if-empty"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="attlist.if-empty">
        <xs:attribute name="field-name" use="required"/>
    </xs:attributeGroup>
</xs:schema>
