components/content/dtd/widget-screen.xsd

<xsd:schema xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
<!--
  To refer to this Schema in your XML file, use the following declaration:
-->

<!--
 *  Copyright (c) 2003-2004 The Open For Business Project - www.ofbiz.org
 *
 *  Permission is hereby granted, free of charge, to any person obtaining a 
 *  copy of this software and associated documentation files (the "Software"), 
 *  to deal in the Software without restriction, including without limitation 
 *  the rights to use, copy, modify, merge, publish, distribute, sublicense, 
 *  and/or sell copies of the Software, and to permit persons to whom the 
 *  Software is furnished to do so, subject to the following conditions:
 *
 *  The above copyright notice and this permission notice shall be included 
 *  in all copies or substantial portions of the Software.
 *
 *  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS 
 *  OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF 
 *  MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. 
 *  IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY 
 *  CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT 
 *  OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR 
 *  THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 *
 *  $Id: $
-->

 <xsd:element name='screens'>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element ref='screen' maxOccurs='unbounded'/>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='screen'>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element ref='section'/>
   </xsd:sequence>
   <xsd:attribute name='name' type='xsd:string' use='required'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='section'>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element ref='condition' minOccurs='0' maxOccurs='1'/>
    <xsd:element ref='actions' minOccurs='0' maxOccurs='1'/>
    <xsd:element ref='widgets'/>
    <xsd:element ref='fail-widgets' minOccurs='0' maxOccurs='1'/>
   </xsd:sequence>
   <xsd:attribute name='name' type='xsd:string' use='optional'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='condition'>
  <xsd:complexType>
   <xsd:choice minOccurs='0' maxOccurs='unbounded'>
    <xsd:element ref='and'/>
    <xsd:element ref='xor'/>
    <xsd:element ref='or'/>
    <xsd:element ref='not'/>
    <xsd:element ref='if-has-permission'/>
    <xsd:element ref='if-validate-method'/>
    <xsd:element ref='if-compare'/>
    <xsd:element ref='if-compare-field'/>
    <xsd:element ref='if-regexp'/>
    <xsd:element ref='if-empty'/>
    <xsd:element ref='if-entity-permission'/>
   </xsd:choice>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='and'>
  <xsd:complexType>
   <xsd:choice maxOccurs='unbounded'>
    <xsd:element ref='and'/>
    <xsd:element ref='xor'/>
    <xsd:element ref='or'/>
    <xsd:element ref='not'/>
    <xsd:element ref='if-has-permission'/>
    <xsd:element ref='if-validate-method'/>
    <xsd:element ref='if-compare'/>
    <xsd:element ref='if-compare-field'/>
    <xsd:element ref='if-regexp'/>
    <xsd:element ref='if-empty'/>
    <xsd:element ref='if-entity-permission'/>
   </xsd:choice>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='xor'>
  <xsd:complexType>
   <xsd:choice maxOccurs='unbounded'>
    <xsd:element ref='and'/>
    <xsd:element ref='xor'/>
    <xsd:element ref='or'/>
    <xsd:element ref='not'/>
    <xsd:element ref='if-has-permission'/>
    <xsd:element ref='if-validate-method'/>
    <xsd:element ref='if-compare'/>
    <xsd:element ref='if-compare-field'/>
    <xsd:element ref='if-regexp'/>
    <xsd:element ref='if-empty'/>
    <xsd:element ref='if-entity-permission'/>
   </xsd:choice>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='or'>
  <xsd:complexType>
   <xsd:choice maxOccurs='unbounded'>
    <xsd:element ref='and'/>
    <xsd:element ref='xor'/>
    <xsd:element ref='or'/>
    <xsd:element ref='not'/>
    <xsd:element ref='if-has-permission'/>
    <xsd:element ref='if-validate-method'/>
    <xsd:element ref='if-compare'/>
    <xsd:element ref='if-compare-field'/>
    <xsd:element ref='if-regexp'/>
    <xsd:element ref='if-empty'/>
    <xsd:element ref='if-entity-permission'/>
   </xsd:choice>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='not'>
  <xsd:complexType>
   <xsd:choice>
    <xsd:element ref='and'/>
    <xsd:element ref='xor'/>
    <xsd:element ref='or'/>
    <xsd:element ref='not'/>
    <xsd:element ref='if-has-permission'/>
    <xsd:element ref='if-validate-method'/>
    <xsd:element ref='if-compare'/>
    <xsd:element ref='if-compare-field'/>
    <xsd:element ref='if-regexp'/>
    <xsd:element ref='if-empty'/>
    <xsd:element ref='if-entity-permission'/>
   </xsd:choice>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='if-has-permission'>
  <xsd:complexType>
   <xsd:attribute name='permission' type='xsd:string' use='required'/>
   <xsd:attribute name='action' type='xsd:string' use='optional'/>
  </xsd:complexType>
 </xsd:element>

 <!-- entity-id and target-operation can have multiple pipe separated values. Don't use spaces. -->
 <xsd:element name='if-entity-permission'>
  <xsd:complexType>
   <xsd:attribute name='entity-name' type='xsd:string' use='required'/>
   <xsd:attribute name='entity-id' type='xsd:string' use='required'/>
   <xsd:attribute name='target-operation' type='xsd:string' use='required'/>
  </xsd:complexType>
 </xsd:element>

 <!-- if-validate-method calls a static Java method that takes a String and returns a boolean -->
 <xsd:element name='if-validate-method'>
  <xsd:complexType>
   <xsd:attribute name='field-name' type='xsd:string' use='required'/>
   <xsd:attribute name='method' type='xsd:string' use='required'/>
   <xsd:attribute name='class' type='xsd:string' default='org.ofbiz.base.util.UtilValidate'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='if-compare'>
  <xsd:complexType>
   <xsd:attribute name='field-name' type='xsd:string' use='required'/>
   <xsd:attribute name='operator' use='required'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='less'/>
      <xsd:enumeration value='greater'/>
      <xsd:enumeration value='less-equals'/>
      <xsd:enumeration value='greater-equals'/>
      <xsd:enumeration value='equals'/>
      <xsd:enumeration value='not-equals'/>
      <xsd:enumeration value='contains'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
   <xsd:attribute name='value' type='xsd:string' use='required'/>
   <xsd:attribute name='type' default='String'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='PlainString'/>
      <xsd:enumeration value='String'/>
      <xsd:enumeration value='Double'/>
      <xsd:enumeration value='Float'/>
      <xsd:enumeration value='Long'/>
      <xsd:enumeration value='Integer'/>
      <xsd:enumeration value='Date'/>
      <xsd:enumeration value='Time'/>
      <xsd:enumeration value='Timestamp'/>
      <xsd:enumeration value='Boolean'/>
      <xsd:enumeration value='Object'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
   <xsd:attribute name='format' type='xsd:string' use='optional'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='if-compare-field'>
  <xsd:complexType>
   <xsd:attribute name='field-name' type='xsd:string' use='required'/>
   <xsd:attribute name='operator' use='required'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='less'/>
      <xsd:enumeration value='greater'/>
      <xsd:enumeration value='less-equals'/>
      <xsd:enumeration value='greater-equals'/>
      <xsd:enumeration value='equals'/>
      <xsd:enumeration value='not-equals'/>
      <xsd:enumeration value='contains'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
   <xsd:attribute name='to-field-name' type='xsd:string' use='optional'/>
   <xsd:attribute name='type' default='String'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='PlainString'/>
      <xsd:enumeration value='String'/>
      <xsd:enumeration value='Double'/>
      <xsd:enumeration value='Float'/>
      <xsd:enumeration value='Long'/>
      <xsd:enumeration value='Integer'/>
      <xsd:enumeration value='Date'/>
      <xsd:enumeration value='Time'/>
      <xsd:enumeration value='Timestamp'/>
      <xsd:enumeration value='Boolean'/>
      <xsd:enumeration value='Object'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
   <xsd:attribute name='format' type='xsd:string' use='optional'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='if-regexp'>
  <xsd:complexType>
   <xsd:attribute name='field-name' type='xsd:string' use='required'/>
   <xsd:attribute name='expr' type='xsd:string' use='required'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='if-empty'>
  <xsd:complexType>
   <xsd:attribute name='field-name' type='xsd:string' use='required'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='fail-widgets'>
  <xsd:complexType>
   <xsd:choice minOccurs='0' maxOccurs='unbounded'>
    <xsd:element ref='section'/>
    <xsd:element ref='container'/>
    <xsd:element ref='include-screen'/>
    <xsd:element ref='decorator-screen'/>
    <xsd:element ref='decorator-section-include'/>
    <xsd:element ref='label'/>
    <xsd:element ref='include-form'/>
    <xsd:element ref='include-menu'/>
    <xsd:element ref='include-tree'/>
    <xsd:element ref='content'/>
    <xsd:element ref='sub-content'/>
    <xsd:element ref='platform-specific'/>
    <xsd:element ref='link'/>
    <xsd:element ref='image'/>
   </xsd:choice>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='actions'>
  <xsd:complexType>
   <xsd:choice minOccurs='0' maxOccurs='unbounded'>
    <xsd:element ref='set'/>
    <xsd:element ref='property-map'/>
    <xsd:element ref='property-to-field'/>
    <xsd:element ref='script'/>
    <xsd:element ref='service'/>
    <xsd:element ref='entity-one'/>
    <xsd:element ref='entity-and'/>
    <xsd:element ref='entity-condition'/>
   </xsd:choice>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='set'>
  <xsd:complexType>
   <xsd:attribute name='field' type='xsd:string' use='required'/>
   <xsd:attribute name='from-field' type='xsd:string' use='optional'/>
   <xsd:attribute name='value' type='xsd:string' use='optional'/>
   <xsd:attribute name='default-value' type='xsd:string' use='optional'/>
   <xsd:attribute name='global' default='false'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='true'/>
      <xsd:enumeration value='false'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
   <xsd:attribute name='type' default='String'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='PlainString'/>
      <xsd:enumeration value='String'/>
      <xsd:enumeration value='Double'/>
      <xsd:enumeration value='Float'/>
      <xsd:enumeration value='Long'/>
      <xsd:enumeration value='Integer'/>
      <xsd:enumeration value='Date'/>
      <xsd:enumeration value='Time'/>
      <xsd:enumeration value='Timestamp'/>
      <xsd:enumeration value='Boolean'/>
      <xsd:enumeration value='Object'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
   <xsd:attribute name='to-scope' default='screen'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='screen'/>
      <xsd:enumeration value='user'/>
      <xsd:enumeration value='application'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
   <xsd:attribute name='from-scope' default='screen'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='screen'/>
      <xsd:enumeration value='user'/>
      <xsd:enumeration value='application'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='property-map'>
  <xsd:complexType>
   <xsd:attribute name='resource' type='xsd:string' use='required'/>
   <xsd:attribute name='map-name' type='xsd:string' use='required'/>
   <xsd:attribute name='global' default='false'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='true'/>
      <xsd:enumeration value='false'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='property-to-field'>
  <xsd:complexType>
   <xsd:attribute name='resource' type='xsd:string' use='required'/>
   <xsd:attribute name='property' type='xsd:string' use='required'/>
   <xsd:attribute name='field' type='xsd:string' use='required'/>
   <xsd:attribute name='default' type='xsd:string' use='optional'/>
   <xsd:attribute name='no-locale' default='false'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='true'/>
      <xsd:enumeration value='false'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
   <xsd:attribute name='arg-list-name' type='xsd:string' use='optional'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='service'>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element ref='field-map' minOccurs='0' maxOccurs='unbounded'/>
   </xsd:sequence>
   <xsd:attribute name='service-name' type='xsd:string' use='required'/>
   <xsd:attribute name='result-map-name' type='xsd:string' use='optional'/>
   <xsd:attribute name='auto-field-map' default='true'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='true'/>
      <xsd:enumeration value='false'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='entity-one'>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element ref='field-map' minOccurs='0' maxOccurs='unbounded'/>
    <xsd:element ref='select-field' minOccurs='0' maxOccurs='unbounded'/>
   </xsd:sequence>
   <xsd:attribute name='entity-name' type='xsd:string' use='required'/>
   <xsd:attribute name='value-name' type='xsd:string' use='required'/>
   <xsd:attribute name='use-cache' default='false'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='true'/>
      <xsd:enumeration value='false'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
   <xsd:attribute name='auto-field-map' default='true'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='true'/>
      <xsd:enumeration value='false'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='entity-and'>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element ref='field-map' maxOccurs='unbounded'/>
    <xsd:element ref='select-field' minOccurs='0' maxOccurs='unbounded'/>
    <xsd:element ref='order-by' minOccurs='0' maxOccurs='unbounded'/>
    <xsd:choice minOccurs='0' maxOccurs='1'>
     <xsd:element ref='limit-range'/>
     <xsd:element ref='limit-view'/>
     <xsd:element ref='use-iterator'/>
    </xsd:choice>
   </xsd:sequence>
   <xsd:attribute name='entity-name' type='xsd:string' use='required'/>
   <xsd:attribute name='use-cache' default='false'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='true'/>
      <xsd:enumeration value='false'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
   <xsd:attribute name='filter-by-date' default='false'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='true'/>
      <xsd:enumeration value='false'/>
      <xsd:enumeration value='by-name'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
   <xsd:attribute name='list-name' type='xsd:string' use='required'/>
   <xsd:attribute name='result-set-type' default='scroll'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='forward'/>
      <xsd:enumeration value='scroll'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='entity-condition'>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:choice minOccurs='0' maxOccurs='1'>
     <xsd:element ref='condition-expr'/>
     <xsd:element ref='condition-list'/>
    </xsd:choice>
    <xsd:element ref='having-condition-list' minOccurs='0' maxOccurs='1'/>
    <xsd:element ref='select-field' minOccurs='0' maxOccurs='unbounded'/>
    <xsd:element ref='order-by' minOccurs='0' maxOccurs='unbounded'/>
    <xsd:choice minOccurs='0' maxOccurs='1'>
     <xsd:element ref='limit-range'/>
     <xsd:element ref='limit-view'/>
     <xsd:element ref='use-iterator'/>
    </xsd:choice>
   </xsd:sequence>
   <xsd:attribute name='entity-name' type='xsd:string' use='required'/>
   <xsd:attribute name='use-cache' default='false'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='true'/>
      <xsd:enumeration value='false'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
   <xsd:attribute name='filter-by-date' default='false'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='true'/>
      <xsd:enumeration value='false'/>
      <xsd:enumeration value='by-name'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
   <xsd:attribute name='distinct' default='false'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='true'/>
      <xsd:enumeration value='false'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
   <xsd:attribute name='delegator-name' type='xsd:string' use='optional'/>
   <xsd:attribute name='list-name' type='xsd:string' use='required'/>
   <xsd:attribute name='result-set-type' default='scroll'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='forward'/>
      <xsd:enumeration value='scroll'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='condition-list'>
  <xsd:complexType>
   <xsd:choice maxOccurs='unbounded'>
    <xsd:element ref='condition-expr'/>
    <xsd:element ref='condition-list'/>
   </xsd:choice>
   <xsd:attribute name='combine' default='and'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='and'/>
      <xsd:enumeration value='or'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='having-condition-list'>
  <xsd:complexType>
   <xsd:choice maxOccurs='unbounded'>
    <xsd:element ref='condition-expr'/>
    <xsd:element ref='condition-list'/>
   </xsd:choice>
   <xsd:attribute name='combine' default='and'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='and'/>
      <xsd:enumeration value='or'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='condition-expr'>
  <xsd:complexType>
   <xsd:attribute name='field-name' type='xsd:string' use='required'/>
   <xsd:attribute name='operator' default='equals'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='less'/>
      <xsd:enumeration value='greater'/>
      <xsd:enumeration value='less-equals'/>
      <xsd:enumeration value='greater-equals'/>
      <xsd:enumeration value='equals'/>
      <xsd:enumeration value='not-equals'/>
      <xsd:enumeration value='in'/>
      <xsd:enumeration value='between'/>
      <xsd:enumeration value='like'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
   <xsd:attribute name='env-name' type='xsd:string' use='optional'/>
   <xsd:attribute name='value' type='xsd:string' use='optional'/>
   <xsd:attribute name='ignore-if-null' default='false'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='true'/>
      <xsd:enumeration value='false'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
   <xsd:attribute name='ignore-if-empty' default='false'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='true'/>
      <xsd:enumeration value='false'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='select-field'>
  <xsd:complexType>
   <xsd:attribute name='field-name' type='xsd:string' use='required'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='order-by'>
  <xsd:complexType>
   <xsd:attribute name='field-name' type='xsd:string' use='required'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='limit-range'>
  <xsd:complexType>
   <xsd:attribute name='start' type='xsd:string' use='required'/>
   <xsd:attribute name='size' type='xsd:string' use='required'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='limit-view'>
  <xsd:complexType>
   <xsd:attribute name='view-index' type='xsd:string' use='required'/>
   <xsd:attribute name='view-size' type='xsd:string' use='required'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='use-iterator'>
  <xsd:complexType/>
 </xsd:element>

 <xsd:element name='field-map'>
  <xsd:complexType>
   <xsd:attribute name='env-name' type='xsd:string' use='required'/>
   <xsd:attribute name='field-name' type='xsd:string' use='optional'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='script'>
  <xsd:complexType>
   <xsd:attribute name='location' type='xsd:string' use='required'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='widgets'>
  <xsd:complexType>
   <xsd:choice minOccurs='0' maxOccurs='unbounded'>
    <xsd:element ref='section'/>
    <xsd:element ref='container'/>
    <xsd:element ref='include-screen'/>
    <xsd:element ref='decorator-screen'/>
    <xsd:element ref='decorator-section-include'/>
    <xsd:element ref='label'/>
    <xsd:element ref='include-form'/>
    <xsd:element ref='include-menu'/>
    <xsd:element ref='include-tree'/>
    <xsd:element ref='content'/>
    <xsd:element ref='sub-content'/>
    <xsd:element ref='platform-specific'/>
    <xsd:element ref='link'/>
    <xsd:element ref='image'/>
   </xsd:choice>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='container'>
  <xsd:complexType>
   <xsd:choice minOccurs='0' maxOccurs='unbounded'>
    <xsd:element ref='section'/>
    <xsd:element ref='container'/>
    <xsd:element ref='include-screen'/>
    <xsd:element ref='decorator-screen'/>
    <xsd:element ref='decorator-section-include'/>
    <xsd:element ref='label'/>
    <xsd:element ref='include-form'/>
    <xsd:element ref='include-menu'/>
    <xsd:element ref='include-tree'/>
    <xsd:element ref='content'/>
    <xsd:element ref='sub-content'/>
    <xsd:element ref='platform-specific'/>
    <xsd:element ref='link'/>
    <xsd:element ref='image'/>
   </xsd:choice>
   <xsd:attribute name='id' type='xsd:string' use='optional'/>
   <xsd:attribute name='style' type='xsd:string' use='optional'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='include-screen'>
  <xsd:complexType>
   <xsd:attribute name='name' type='xsd:string' use='required'/>
   <xsd:attribute name='location' type='xsd:string' use='optional'/>
   <xsd:attribute name='share-scope' default='false'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='true'/>
      <xsd:enumeration value='false'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='decorator-screen'>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element ref='decorator-section' maxOccurs='unbounded'/>
   </xsd:sequence>
   <xsd:attribute name='name' type='xsd:string' use='required'/>
   <xsd:attribute name='location' type='xsd:string' use='optional'/>
  </xsd:complexType>
 </xsd:element>

 <!-- renders the named screen and includes the children of this elements at the point where it finds the decorator-section-include tag -->
 <!-- note that because of the recursive nature of this tag the share-scope attribute is not availalbe -->
 <xsd:element name='decorator-section'>
  <xsd:complexType>
   <xsd:choice minOccurs='0' maxOccurs='unbounded'>
    <xsd:element ref='section'/>
    <xsd:element ref='container'/>
    <xsd:element ref='include-screen'/>
    <xsd:element ref='decorator-screen'/>
    <xsd:element ref='decorator-section-include'/>
    <xsd:element ref='label'/>
    <xsd:element ref='include-form'/>
    <xsd:element ref='include-menu'/>
    <xsd:element ref='include-tree'/>
    <xsd:element ref='content'/>
    <xsd:element ref='sub-content'/>
    <xsd:element ref='platform-specific'/>
    <xsd:element ref='link'/>
    <xsd:element ref='image'/>
   </xsd:choice>
   <xsd:attribute name='name' type='xsd:string' use='required'/>
  </xsd:complexType>
 </xsd:element>

 <!-- this is just a place holder to tell the renderer to include the parent container's contents at this point -->
 <xsd:element name='decorator-section-include'>
  <xsd:complexType>
   <xsd:attribute name='name' type='xsd:string' use='required'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='label'>
  <xsd:complexType>
  <xsd:simpleContent>
  <xsd:extension base='xsd:string'>
   <xsd:attribute name='text' type='xsd:string' use='optional'/>
   <xsd:attribute name='id' type='xsd:string' use='optional'/>
   <xsd:attribute name='style' type='xsd:string' use='optional'/>
   </xsd:extension>
   </xsd:simpleContent>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='include-form'>
  <xsd:complexType>
   <xsd:attribute name='name' type='xsd:string' use='required'/>
   <xsd:attribute name='location' type='xsd:string' use='required'/>
   <xsd:attribute name='share-scope' default='false'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='true'/>
      <xsd:enumeration value='false'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='include-menu'>
  <xsd:complexType>
   <xsd:attribute name='name' type='xsd:string' use='required'/>
   <xsd:attribute name='location' type='xsd:string' use='required'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='include-tree'>
  <xsd:complexType>
   <xsd:attribute name='name' type='xsd:string' use='required'/>
   <xsd:attribute name='location' type='xsd:string' use='required'/>
   <xsd:attribute name='share-scope' default='false'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='true'/>
      <xsd:enumeration value='false'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='content'>
  <xsd:complexType>
   <xsd:attribute name='content-id' type='xsd:string' use='required'/>
   <xsd:attribute name='edit-request' type='xsd:string' use='optional'/>
   <xsd:attribute name='xml-escape' default='false'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='true'/>
      <xsd:enumeration value='false'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='sub-content'>
  <xsd:complexType>
   <xsd:attribute name='content-id' type='xsd:string' use='required'/>
   <xsd:attribute name='assoc-name' type='xsd:string' use='required'/>
   <xsd:attribute name='edit-request' type='xsd:string' use='optional'/>
   <xsd:attribute name='xml-escape' default='false'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='true'/>
      <xsd:enumeration value='false'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='image'>
  <xsd:complexType>
  <xsd:simpleContent>
  <xsd:extension base='xsd:string'>
   <xsd:attribute name='src' type='xsd:string' use='optional'/>
   <xsd:attribute name='id' type='xsd:string' use='optional'/>
   <xsd:attribute name='style' type='xsd:string' use='optional'/>
   <xsd:attribute name='width' type='xsd:string' use='optional'/>
   <xsd:attribute name='height' type='xsd:string' use='optional'/>
   <xsd:attribute name='border' type='xsd:string' use='optional'/>
   <xsd:attribute name='url-mode' default='content'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='ofbiz'/>
      <xsd:enumeration value='content'/>
      <xsd:enumeration value='raw'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
   </xsd:extension>
   </xsd:simpleContent>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='link'>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element ref='image' minOccurs='0' maxOccurs='1'/>
   </xsd:sequence>
   <xsd:attribute name='text' type='xsd:string' use='optional'/>
   <xsd:attribute name='id' type='xsd:string' use='optional'/>
   <xsd:attribute name='style' type='xsd:string' use='optional'/>
   <xsd:attribute name='target' type='xsd:string' use='optional'/>
   <xsd:attribute name='name' type='xsd:string' use='optional'/>
   <xsd:attribute name='target-window' type='xsd:string' use='optional'/>
   <xsd:attribute name='prefix' type='xsd:string' use='optional'/>
   <xsd:attribute name='url-mode' default='intra-app'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='intra-app'/>
      <xsd:enumeration value='inter-app'/>
      <xsd:enumeration value='content'/>
      <xsd:enumeration value='plain'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
   <xsd:attribute name='full-path' default='false'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='true'/>
      <xsd:enumeration value='false'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
   <xsd:attribute name='secure' default='false'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='true'/>
      <xsd:enumeration value='false'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
   <xsd:attribute name='encode' default='false'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='true'/>
      <xsd:enumeration value='false'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
  </xsd:complexType>
 </xsd:element>

 <!-- ============== Platform Specific Elements =============== -->
 <xsd:element name='platform-specific'>
  <xsd:complexType>
   <xsd:choice>
    <xsd:element ref='html' minOccurs='0' maxOccurs='1'/>
    <xsd:element ref='swing' minOccurs='0' maxOccurs='1'/>
   </xsd:choice>
  </xsd:complexType>
 </xsd:element>

 <!-- ============== HTML Specific Elements =============== -->
 <xsd:element name='html'>
  <xsd:complexType>
   <xsd:choice minOccurs='0' maxOccurs='unbounded'>
    <xsd:element ref='html-template'/>
    <xsd:element ref='html-template-decorator'/>
   </xsd:choice>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='html-template'>
  <xsd:complexType>
   <xsd:attribute name='location' type='xsd:string' use='required'/>
  </xsd:complexType>
 </xsd:element>

 <!-- don't really want to encourage, should be done on the screen level -->
 <!-- to include the sections in the decorator template just use the "render(sectionName)" method "sections" object, FTL example: ${sections.render("main")} -->
 <!-- for more efficient use the sections.render(sectionName, writer) method should be used, in FTL this would be in a transform or something -->
 <xsd:element name='html-template-decorator'>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element ref='html-template-decorator-section' maxOccurs='unbounded'/>
   </xsd:sequence>
   <xsd:attribute name='location' type='xsd:string' use='required'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='html-template-decorator-section'>
  <xsd:complexType>
   <xsd:choice minOccurs='0' maxOccurs='unbounded'>
    <xsd:element ref='section'/>
    <xsd:element ref='container'/>
    <xsd:element ref='include-screen'/>
    <xsd:element ref='decorator-screen'/>
    <xsd:element ref='decorator-section-include'/>
    <xsd:element ref='label'/>
    <xsd:element ref='include-form'/>
    <xsd:element ref='include-menu'/>
    <xsd:element ref='include-tree'/>
    <xsd:element ref='content'/>
    <xsd:element ref='sub-content'/>
    <xsd:element ref='platform-specific'/>
    <xsd:element ref='link'/>
    <xsd:element ref='image'/>
   </xsd:choice>
   <xsd:attribute name='name' type='xsd:string' use='required'/>
  </xsd:complexType>
 </xsd:element>

 <!-- ============== Swing Specific Elements =============== -->
 <xsd:element name='swing'>
  <xsd:complexType/>
 </xsd:element>
</xsd:schema>
