components/content/dtd/widget-screen.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  To refer to this DTD in your XML file, use the following declaration:
<!DOCTYPE screens PUBLIC "-//OFBiz//DTD OFBiz Screen Widget//EN" "http://www.ofbiz.org/dtds/widget-screen.dtd">
-->

<!--
 *  Copyright (c) 2004 The Open For Business Project - www.ofbiz.org
 *
 *  Permission is hereby granted, free of charge, to any person obtaining a
 *  copy of this software and associated documentation files (the "Software"),
 *  to deal in the Software without restriction, including without limitation
 *  the rights to use, copy, modify, merge, publish, distribute, sublicense,
 *  and/or sell copies of the Software, and to permit persons to whom the
 *  Software is furnished to do so, subject to the following conditions:
 *
 *  The above copyright notice and this permission notice shall be included
 *  in all copies or substantial portions of the Software.
 *
 *  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
 *  OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
 *  MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
 *  IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY
 *  CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT
 *  OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR
 *  THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 *
 *  $Id$
-->

<!ENTITY % AllWidgets "section | container | include-screen | decorator-screen | decorator-section-include | label | include-form | include-menu | include-tree | content | sub-content | platform-specific | link | image">

<!ENTITY % AllConditionals "and | xor | or | not | if-has-permission | if-validate-method | if-compare | if-compare-field | if-regexp | if-empty | if-entity-permission">

<!ENTITY % AllActions "set | property-map  | property-to-field | script | service | entity-one | entity-and | entity-condition">


<!ELEMENT screens ( screen+ )>

<!ELEMENT screen ( section )>
<!ATTLIST screen
    name CDATA #REQUIRED
>

<!ELEMENT section ( condition?, actions?, widgets, fail-widgets? )>
<!ATTLIST section
    name CDATA #IMPLIED
>
<!ELEMENT condition ( (%AllConditionals;)* )>

    <!ELEMENT and ( (%AllConditionals;)+ )>
    <!ELEMENT xor ( (%AllConditionals;)+ )>
    <!ELEMENT or ( (%AllConditionals;)+ )>
    <!ELEMENT not ( (%AllConditionals;) )>

    <!ELEMENT if-has-permission EMPTY>
    <!ATTLIST if-has-permission
        permission CDATA #REQUIRED
        action CDATA #IMPLIED
    >

    <!ELEMENT if-entity-permission EMPTY>
    <!-- entity-id and target-operation can have multiple pipe separated values. Don't use spaces. -->
    <!ATTLIST if-entity-permission
        entity-name CDATA #REQUIRED
        entity-id CDATA #REQUIRED
        target-operation CDATA #REQUIRED
    >

    <!-- if-validate-method calls a static Java method that takes a String and returns a boolean -->
    <!ELEMENT if-validate-method EMPTY>
    <!ATTLIST if-validate-method
        field-name CDATA #REQUIRED
        method CDATA #REQUIRED
        class CDATA "org.ofbiz.base.util.UtilValidate"
    >
    
    <!ELEMENT if-compare EMPTY>
    <!ATTLIST if-compare
        field-name CDATA #REQUIRED
        operator ( less | greater | less-equals | greater-equals | equals | not-equals | contains ) #REQUIRED
        value CDATA #REQUIRED
        type ( PlainString | String | Double | Float | Long | Integer | Date | Time | Timestamp | Boolean | Object ) "String"
        format CDATA #IMPLIED
    >
    
    <!ELEMENT if-compare-field EMPTY>
    <!ATTLIST if-compare-field
        field-name CDATA #REQUIRED
        operator ( less | greater | less-equals | greater-equals | equals | not-equals | contains ) #REQUIRED
        to-field-name CDATA #IMPLIED
        type ( PlainString | String | Double | Float | Long | Integer | Date | Time | Timestamp | Boolean | Object ) "String"
        format CDATA #IMPLIED
    >
    
    <!ELEMENT if-regexp EMPTY>
    <!ATTLIST if-regexp
        field-name CDATA #REQUIRED
        expr CDATA #REQUIRED
    >
    
    <!ELEMENT if-empty EMPTY>
    <!ATTLIST if-empty
        field-name CDATA #REQUIRED
    >

    <!ELEMENT fail-widgets ( (%AllWidgets;)* )>
    
<!ELEMENT actions ( (%AllActions;)* )>

    <!ELEMENT set EMPTY>
    <!ATTLIST set
        field CDATA #REQUIRED
        from-field CDATA #IMPLIED
        value CDATA #IMPLIED
        default-value CDATA #IMPLIED
        global ( true | false ) "false"
        type ( PlainString | String | Double | Float | Long | Integer | Date | Time | Timestamp | Boolean | Object ) "String"
    >

    <!ELEMENT property-map EMPTY>
    <!ATTLIST property-map
        resource CDATA #REQUIRED
        map-name CDATA #REQUIRED
        global ( true | false ) "false"
    >
    <!ELEMENT property-to-field EMPTY>
    <!ATTLIST property-to-field
        resource CDATA #REQUIRED
        property CDATA #REQUIRED
        field CDATA #REQUIRED
        default CDATA #IMPLIED
        no-locale ( true | false ) "false"
        arg-list-name CDATA #IMPLIED
    >

    <!ELEMENT service ( field-map* )>
    <!ATTLIST service
        service-name CDATA #REQUIRED
        result-map-name CDATA #IMPLIED
        auto-field-map ( true | false ) "true"
    >
    
    <!ELEMENT entity-one ( field-map*, select-field* )>
    <!ATTLIST entity-one
        entity-name CDATA #REQUIRED
        value-name CDATA #REQUIRED
        use-cache ( true | false ) "false"
        auto-field-map ( true | false ) "true"
    >
    
    <!ELEMENT entity-and ( field-map+, select-field*, order-by*, ( limit-range | limit-view | use-iterator )? )>
    <!ATTLIST entity-and
        entity-name CDATA #REQUIRED
        use-cache ( true | false ) "false"
        filter-by-date ( true | false | by-name ) "false"
        list-name CDATA #REQUIRED
        result-set-type ( forward | scroll ) "forward"
    >

    <!ELEMENT entity-condition ( ( condition-expr | condition-list ), having-condition-list?, select-field*, order-by*, ( limit-range | limit-view | use-iterator )? )>
    <!ATTLIST entity-condition
        entity-name CDATA #REQUIRED
        use-cache ( true | false ) "false"
        filter-by-date ( true | false | by-name ) "false"
        distinct ( true | false ) "false"
        delegator-name CDATA #IMPLIED
        list-name CDATA #REQUIRED
        result-set-type ( forward | scroll ) "forward"
    >
        <!ELEMENT condition-list ( ( condition-expr | condition-list )+ )>
        <!ATTLIST condition-list
            combine ( and | or ) "and"
        >
        <!ELEMENT having-condition-list ( ( condition-expr | condition-list )+ )>
        <!ATTLIST having-condition-list
            combine ( and | or ) "and"
        >
        <!ELEMENT condition-expr EMPTY>
        <!ATTLIST condition-expr
            field-name CDATA #REQUIRED
            operator ( less | greater | less-equals | greater-equals | equals | not-equals | in | between | like ) "equals"
            env-name CDATA #IMPLIED
            value CDATA #IMPLIED
            ignore-if-null ( true | false ) "false"
            ignore-if-empty ( true | false ) "false"
        >
        <!ELEMENT select-field EMPTY>
        <!ATTLIST select-field
            field-name CDATA #REQUIRED
        >
        <!ELEMENT order-by EMPTY>
        <!ATTLIST order-by
            field-name CDATA #REQUIRED
        >
        <!ELEMENT limit-range EMPTY>
        <!ATTLIST limit-range
            start CDATA #REQUIRED
            size CDATA #REQUIRED
        >
        <!ELEMENT limit-view EMPTY>
        <!ATTLIST limit-view
            view-index CDATA #REQUIRED
            view-size CDATA #REQUIRED
        >
        <!ELEMENT use-iterator EMPTY>
    
        
        <!ELEMENT field-map EMPTY>
        <!ATTLIST field-map
            env-name CDATA #REQUIRED
            field-name CDATA #IMPLIED
        >

    <!ELEMENT script EMPTY>
    <!ATTLIST script
        location CDATA #REQUIRED
    >

<!ELEMENT widgets ( (%AllWidgets;)* )>

    <!ELEMENT container ( (%AllWidgets;)* )>
    <!ATTLIST container
        id CDATA #IMPLIED
        style CDATA #IMPLIED
    >
    
    <!ELEMENT include-screen EMPTY>
    <!ATTLIST include-screen
        name CDATA #REQUIRED
        location CDATA #IMPLIED
        share-scope ( true | false ) "false"
    >
    
    <!-- renders the named screen and includes the children of this elements at the point where it finds the decorator-section-include tag -->
    <!-- note that because of the recursive nature of this tag the share-scope attribute is not availalbe -->
    <!ELEMENT decorator-screen ( decorator-section+ )>
    <!ATTLIST decorator-screen
        name CDATA #REQUIRED
        location CDATA #IMPLIED
    >
    
    <!ELEMENT decorator-section ( (%AllWidgets;)* )>
    <!ATTLIST decorator-section
        name CDATA #REQUIRED
    >
    
    <!-- this is just a place holder to tell the renderer to include the parent container's contents at this point -->
    <!ELEMENT decorator-section-include EMPTY>
    <!ATTLIST decorator-section-include
        name CDATA #REQUIRED
    >
    
    <!ELEMENT label (#PCDATA)>
    <!ATTLIST label
        text CDATA #IMPLIED
        id CDATA #IMPLIED
        style CDATA #IMPLIED
    >
    
    <!ELEMENT include-form EMPTY>
    <!ATTLIST include-form
        name CDATA #REQUIRED
        location CDATA #REQUIRED
        share-scope ( true | false ) "false"
    >
    
    <!ELEMENT include-menu EMPTY>
    <!ATTLIST include-menu
        name CDATA #REQUIRED
        location CDATA #REQUIRED
    >
    
    <!ELEMENT include-tree EMPTY>
    <!ATTLIST include-tree
        name CDATA #REQUIRED
        location CDATA #REQUIRED
        share-scope ( true | false ) "false"
    >
    
    <!ELEMENT content EMPTY>
    <!ATTLIST content
        content-id CDATA #REQUIRED
        edit-request CDATA #IMPLIED
        xml-escape ( true | false ) "false"
    >
    
    <!ELEMENT sub-content EMPTY>
    <!ATTLIST sub-content
        content-id CDATA #REQUIRED
        assoc-name CDATA #REQUIRED
        edit-request CDATA #IMPLIED
        xml-escape ( true | false ) "false"
    >

    <!ELEMENT image (#PCDATA)>
    <!ATTLIST image
        src CDATA #IMPLIED
        id CDATA #IMPLIED
        style CDATA #IMPLIED
        width CDATA #IMPLIED
        height CDATA #IMPLIED
        border CDATA #IMPLIED
        url-mode ( ofbiz | content | raw ) "content"
    >

    <!ELEMENT link (image?)>
    <!ATTLIST link
        text CDATA #IMPLIED
        id CDATA #IMPLIED
        style CDATA #IMPLIED
        target CDATA #IMPLIED
        name CDATA #IMPLIED
        target-window CDATA #IMPLIED
        prefix CDATA #IMPLIED
        url-mode ( intra-app | inter-app | content | plain ) "intra-app"
        full-path ( true | false ) "false"
        secure ( true | false ) "false"
        encode ( true | false ) "false"
    >

<!-- ============== Platform Specific Elements =============== -->

<!ELEMENT platform-specific ( html? | swing? )>

<!-- ============== HTML Specific Elements =============== -->

<!ENTITY % HtmlWidgets "html-template | html-template-decorator">

<!ELEMENT html ( (%HtmlWidgets;)* )>

<!ELEMENT html-template EMPTY>
<!ATTLIST html-template
    location CDATA #REQUIRED
>

<!-- don't really want to encourage, should be done on the screen level -->
<!-- to include the sections in the decorator template just use the "render(sectionName)" method "sections" object, FTL example: ${sections.render("main")} -->
<!-- for more efficient use the sections.render(sectionName, writer) method should be used, in FTL this would be in a transform or something -->
<!ELEMENT html-template-decorator ( html-template-decorator-section+ )>
<!ATTLIST html-template-decorator
    location CDATA #REQUIRED
>
<!ELEMENT html-template-decorator-section ( (%AllWidgets;)* )>
<!ATTLIST html-template-decorator-section
    name CDATA #REQUIRED
>

<!-- ============== Swing Specific Elements =============== -->

<!ELEMENT swing EMPTY>

