components/content/dtd/widget-tree.xsd

<xsd:schema xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
<!--
  To refer to this Schema in your XML file, use the following declaration:
-->

<!--
 *  Copyright (c) 2004 The Open For Business Project - www.ofbiz.org
 *
 *  Permission is hereby granted, free of charge, to any person obtaining a 
 *  copy of this software and associated documentation files (the "Software"), 
 *  to deal in the Software without restriction, including without limitation 
 *  the rights to use, copy, modify, merge, publish, distribute, sublicense, 
 *  and/or sell copies of the Software, and to permit persons to whom the 
 *  Software is furnished to do so, subject to the following conditions:
 *
 *  The above copyright notice and this permission notice shall be included 
 *  in all copies or substantial portions of the Software.
 *
 *  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS 
 *  OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF 
 *  MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. 
 *  IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY 
 *  CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT 
 *  OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR 
 *  THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 *
 *  $Id: $
-->

 <xsd:element name='trees'>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element ref='tree' maxOccurs='unbounded'/>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='tree'>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element ref='node' maxOccurs='unbounded'/>
   </xsd:sequence>
   <xsd:attribute name='name' type='xsd:string' use='required'/>
   <xsd:attribute name='root-node-name' type='xsd:string' use='required'/>
   <xsd:attribute name='default-render-style' default='simple'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='simple'/>
      <xsd:enumeration value='follow-trail'/>
      <xsd:enumeration value='show-peers'/>
      <xsd:enumeration value='expand-collapse'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
   <xsd:attribute name='default-wrap-style' type='xsd:string' use='optional'/>
   <xsd:attribute name='expand-collapse-request' type='xsd:string' use='optional'/>
   <xsd:attribute name='trail-name' type='xsd:string' use='optional'/>
   <xsd:attribute name='open-depth' type='xsd:string' default='0'/>
   <xsd:attribute name='post-trail-open-depth' type='xsd:string' default='0'/>
   <xsd:attribute name='entity-name' type='xsd:string' default='Content'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='node'>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element ref='condition' minOccurs='0' maxOccurs='1'/>
    <xsd:choice minOccurs='0' maxOccurs='1'>
     <xsd:element ref='entity-one'/>
     <xsd:element ref='service'/>
     <xsd:element ref='script'/>
    </xsd:choice>
    <xsd:choice minOccurs='0' maxOccurs='1'>
     <xsd:element ref='include-screen'/>
     <xsd:element ref='label'/>
     <xsd:element ref='link'/>
    </xsd:choice>
    <xsd:element ref='sub-node' minOccurs='0' maxOccurs='unbounded'/>
   </xsd:sequence>
   <xsd:attribute name='name' type='xsd:string' use='required'/>
   <xsd:attribute name='wrap-style' type='xsd:string' use='optional'/>
   <xsd:attribute name='render-style' use='optional'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='simple'/>
      <xsd:enumeration value='follow-trail'/>
      <xsd:enumeration value='show-peers'/>
      <xsd:enumeration value='expand-collapse'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='include-screen'>
  <xsd:complexType>
   <xsd:attribute name='name' type='xsd:string' use='required'/>
   <xsd:attribute name='location' type='xsd:string' use='required'/>
   <xsd:attribute name='share-scope' default='false'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='true'/>
      <xsd:enumeration value='false'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='label'>
  <xsd:complexType>
  <xsd:simpleContent>
  <xsd:extension base='xsd:string'>
   <xsd:attribute name='text' type='xsd:string' use='optional'/>
   <xsd:attribute name='id' type='xsd:string' use='optional'/>
   <xsd:attribute name='style' type='xsd:string' use='optional'/>
   </xsd:extension>
   </xsd:simpleContent>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='link'>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element ref='image' minOccurs='0' maxOccurs='1'/>
   </xsd:sequence>
   <xsd:attribute name='text' type='xsd:string' use='optional'/>
   <xsd:attribute name='id' type='xsd:string' use='optional'/>
   <xsd:attribute name='style' type='xsd:string' use='optional'/>
   <xsd:attribute name='name' type='xsd:string' use='optional'/>
   <xsd:attribute name='target' type='xsd:string' use='optional'/>
   <xsd:attribute name='target-window' type='xsd:string' use='optional'/>
   <xsd:attribute name='prefix' type='xsd:string' use='optional'/>
   <xsd:attribute name='url-mode' default='intra-app'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='intra-app'/>
      <xsd:enumeration value='inter-app'/>
      <xsd:enumeration value='content'/>
      <xsd:enumeration value='plain'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
   <xsd:attribute name='full-path' default='false'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='true'/>
      <xsd:enumeration value='false'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
   <xsd:attribute name='secure' default='false'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='true'/>
      <xsd:enumeration value='false'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
   <xsd:attribute name='encode' default='false'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='true'/>
      <xsd:enumeration value='false'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='image'>
  <xsd:complexType>
  <xsd:simpleContent>
  <xsd:extension base='xsd:string'>
   <xsd:attribute name='src' type='xsd:string' use='optional'/>
   <xsd:attribute name='id' type='xsd:string' use='optional'/>
   <xsd:attribute name='style' type='xsd:string' use='optional'/>
   <xsd:attribute name='width' type='xsd:string' use='optional'/>
   <xsd:attribute name='height' type='xsd:string' use='optional'/>
   <xsd:attribute name='border' type='xsd:string' use='optional'/>
   <xsd:attribute name='url-mode' default='content'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='ofbiz'/>
      <xsd:enumeration value='content'/>
      <xsd:enumeration value='raw'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
   </xsd:extension>
   </xsd:simpleContent>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='sub-node'>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:choice>
     <xsd:element ref='entity-and'/>
     <xsd:element ref='service'/>
     <xsd:element ref='entity-condition'/>
     <xsd:element ref='script'/>
    </xsd:choice>
    <xsd:element ref='out-field-map' minOccurs='0' maxOccurs='unbounded'/>
   </xsd:sequence>
   <xsd:attribute name='node-name' type='xsd:string' use='required'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='service'>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element ref='field-map' minOccurs='0' maxOccurs='unbounded'/>
   </xsd:sequence>
   <xsd:attribute name='service-name' type='xsd:string' use='required'/>
   <xsd:attribute name='result-map-name' type='xsd:string' use='optional'/>
   <xsd:attribute name='auto-field-map' default='true'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='true'/>
      <xsd:enumeration value='false'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
   <xsd:attribute name='result-map-list-name' type='xsd:string' use='optional'/>
   <xsd:attribute name='result-map-list-iterator-name' type='xsd:string' use='optional'/>
   <xsd:attribute name='result-map-value-name' type='xsd:string' use='optional'/>
   <xsd:attribute name='value-name' type='xsd:string' use='optional'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='entity-one'>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element ref='field-map' minOccurs='0' maxOccurs='unbounded'/>
    <xsd:element ref='select-field' minOccurs='0' maxOccurs='unbounded'/>
   </xsd:sequence>
   <xsd:attribute name='entity-name' type='xsd:string' use='required'/>
   <xsd:attribute name='value-name' type='xsd:string' use='optional'/>
   <xsd:attribute name='use-cache' default='false'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='true'/>
      <xsd:enumeration value='false'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
   <xsd:attribute name='auto-field-map' default='true'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='true'/>
      <xsd:enumeration value='false'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='entity-and'>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element ref='field-map' maxOccurs='unbounded'/>
    <xsd:element ref='select-field' minOccurs='0' maxOccurs='unbounded'/>
    <xsd:element ref='order-by' minOccurs='0' maxOccurs='unbounded'/>
   </xsd:sequence>
   <xsd:attribute name='entity-name' type='xsd:string' use='required'/>
   <xsd:attribute name='use-cache' default='false'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='true'/>
      <xsd:enumeration value='false'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
   <xsd:attribute name='filter-by-date' default='false'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='true'/>
      <xsd:enumeration value='false'/>
      <xsd:enumeration value='by-name'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
   <xsd:attribute name='result-set-type' default='scroll'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='forward'/>
      <xsd:enumeration value='scroll'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='order-by'>
  <xsd:complexType>
   <xsd:attribute name='field-name' type='xsd:string' use='required'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='select-field'>
  <xsd:complexType>
   <xsd:attribute name='field-name' type='xsd:string' use='required'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='limit-range'>
  <xsd:complexType>
   <xsd:attribute name='start' type='xsd:string' use='required'/>
   <xsd:attribute name='size' type='xsd:string' use='required'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='limit-view'>
  <xsd:complexType>
   <xsd:attribute name='view-index' type='xsd:string' use='required'/>
   <xsd:attribute name='view-size' type='xsd:string' use='required'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='use-iterator'>
  <xsd:complexType/>
 </xsd:element>

 <xsd:element name='field-map'>
  <xsd:complexType>
   <xsd:attribute name='field-name' type='xsd:string' use='required'/>
   <xsd:attribute name='env-name' type='xsd:string' use='optional'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='out-field-map'>
  <xsd:complexType>
   <xsd:attribute name='field-name' type='xsd:string' use='required'/>
   <xsd:attribute name='to-field-name' type='xsd:string' use='optional'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='entity-condition'>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:choice>
     <xsd:element ref='condition-expr'/>
     <xsd:element ref='condition-list'/>
    </xsd:choice>
    <xsd:element ref='having-condition-list' minOccurs='0' maxOccurs='1'/>
    <xsd:element ref='select-field' minOccurs='0' maxOccurs='unbounded'/>
    <xsd:element ref='order-by' minOccurs='0' maxOccurs='unbounded'/>
    <xsd:choice minOccurs='0' maxOccurs='1'>
     <xsd:element ref='limit-range'/>
     <xsd:element ref='limit-view'/>
     <xsd:element ref='use-iterator'/>
    </xsd:choice>
   </xsd:sequence>
   <xsd:attribute name='entity-name' type='xsd:string' use='required'/>
   <xsd:attribute name='use-cache' default='false'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='true'/>
      <xsd:enumeration value='false'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
   <xsd:attribute name='filter-by-date' default='false'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='true'/>
      <xsd:enumeration value='false'/>
      <xsd:enumeration value='by-name'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
   <xsd:attribute name='distinct' default='false'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='true'/>
      <xsd:enumeration value='false'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
   <xsd:attribute name='delegator-name' type='xsd:string' use='optional'/>
   <xsd:attribute name='result-set-type' default='scroll'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='forward'/>
      <xsd:enumeration value='scroll'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='condition-list'>
  <xsd:complexType>
   <xsd:choice maxOccurs='unbounded'>
    <xsd:element ref='condition-expr'/>
    <xsd:element ref='condition-list'/>
   </xsd:choice>
   <xsd:attribute name='combine' default='and'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='and'/>
      <xsd:enumeration value='or'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='having-condition-list'>
  <xsd:complexType>
   <xsd:choice maxOccurs='unbounded'>
    <xsd:element ref='condition-expr'/>
    <xsd:element ref='condition-list'/>
   </xsd:choice>
   <xsd:attribute name='combine' default='and'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='and'/>
      <xsd:enumeration value='or'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='condition-expr'>
  <xsd:complexType>
   <xsd:attribute name='field-name' type='xsd:string' use='required'/>
   <xsd:attribute name='operator' default='equals'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='less'/>
      <xsd:enumeration value='greater'/>
      <xsd:enumeration value='less-equals'/>
      <xsd:enumeration value='greater-equals'/>
      <xsd:enumeration value='equals'/>
      <xsd:enumeration value='not-equals'/>
      <xsd:enumeration value='in'/>
      <xsd:enumeration value='between'/>
      <xsd:enumeration value='like'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
   <xsd:attribute name='env-name' type='xsd:string' use='optional'/>
   <xsd:attribute name='value' type='xsd:string' use='optional'/>
   <xsd:attribute name='ignore-if-null' default='false'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='true'/>
      <xsd:enumeration value='false'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='condition'>
  <xsd:complexType>
   <xsd:choice minOccurs='0' maxOccurs='unbounded'>
    <xsd:element ref='and'/>
    <xsd:element ref='xor'/>
    <xsd:element ref='or'/>
    <xsd:element ref='not'/>
    <xsd:element ref='if-has-permission'/>
    <xsd:element ref='if-validate-method'/>
    <xsd:element ref='if-compare'/>
    <xsd:element ref='if-compare-field'/>
    <xsd:element ref='if-regexp'/>
    <xsd:element ref='if-empty'/>
    <xsd:element ref='if-entity-permission'/>
   </xsd:choice>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='and'>
  <xsd:complexType>
   <xsd:choice maxOccurs='unbounded'>
    <xsd:element ref='and'/>
    <xsd:element ref='xor'/>
    <xsd:element ref='or'/>
    <xsd:element ref='not'/>
    <xsd:element ref='if-has-permission'/>
    <xsd:element ref='if-validate-method'/>
    <xsd:element ref='if-compare'/>
    <xsd:element ref='if-compare-field'/>
    <xsd:element ref='if-regexp'/>
    <xsd:element ref='if-empty'/>
    <xsd:element ref='if-entity-permission'/>
   </xsd:choice>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='xor'>
  <xsd:complexType>
   <xsd:choice maxOccurs='unbounded'>
    <xsd:element ref='and'/>
    <xsd:element ref='xor'/>
    <xsd:element ref='or'/>
    <xsd:element ref='not'/>
    <xsd:element ref='if-has-permission'/>
    <xsd:element ref='if-validate-method'/>
    <xsd:element ref='if-compare'/>
    <xsd:element ref='if-compare-field'/>
    <xsd:element ref='if-regexp'/>
    <xsd:element ref='if-empty'/>
    <xsd:element ref='if-entity-permission'/>
   </xsd:choice>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='or'>
  <xsd:complexType>
   <xsd:choice maxOccurs='unbounded'>
    <xsd:element ref='and'/>
    <xsd:element ref='xor'/>
    <xsd:element ref='or'/>
    <xsd:element ref='not'/>
    <xsd:element ref='if-has-permission'/>
    <xsd:element ref='if-validate-method'/>
    <xsd:element ref='if-compare'/>
    <xsd:element ref='if-compare-field'/>
    <xsd:element ref='if-regexp'/>
    <xsd:element ref='if-empty'/>
    <xsd:element ref='if-entity-permission'/>
   </xsd:choice>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='not'>
  <xsd:complexType>
   <xsd:choice>
    <xsd:element ref='and'/>
    <xsd:element ref='xor'/>
    <xsd:element ref='or'/>
    <xsd:element ref='not'/>
    <xsd:element ref='if-has-permission'/>
    <xsd:element ref='if-validate-method'/>
    <xsd:element ref='if-compare'/>
    <xsd:element ref='if-compare-field'/>
    <xsd:element ref='if-regexp'/>
    <xsd:element ref='if-empty'/>
    <xsd:element ref='if-entity-permission'/>
   </xsd:choice>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='if-has-permission'>
  <xsd:complexType>
   <xsd:attribute name='permission' type='xsd:string' use='required'/>
   <xsd:attribute name='action' type='xsd:string' use='optional'/>
  </xsd:complexType>
 </xsd:element>

 <!-- entity-id and target-operation can have multiple pipe separated values. Don't use spaces. -->
 <xsd:element name='if-entity-permission'>
  <xsd:complexType>
   <xsd:attribute name='entity-name' type='xsd:string' use='required'/>
   <xsd:attribute name='entity-id' type='xsd:string' use='required'/>
   <xsd:attribute name='target-operation' type='xsd:string' use='required'/>
  </xsd:complexType>
 </xsd:element>

 <!-- if-validate-method calls a static Java method that takes a String and returns a boolean -->
 <xsd:element name='if-validate-method'>
  <xsd:complexType>
   <xsd:attribute name='field-name' type='xsd:string' use='required'/>
   <xsd:attribute name='method' type='xsd:string' use='required'/>
   <xsd:attribute name='class' type='xsd:string' default='org.ofbiz.base.util.UtilValidate'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='if-compare'>
  <xsd:complexType>
   <xsd:attribute name='field-name' type='xsd:string' use='required'/>
   <xsd:attribute name='operator' use='required'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='less'/>
      <xsd:enumeration value='greater'/>
      <xsd:enumeration value='less-equals'/>
      <xsd:enumeration value='greater-equals'/>
      <xsd:enumeration value='equals'/>
      <xsd:enumeration value='not-equals'/>
      <xsd:enumeration value='contains'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
   <xsd:attribute name='value' type='xsd:string' use='required'/>
   <xsd:attribute name='type' default='String'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='PlainString'/>
      <xsd:enumeration value='String'/>
      <xsd:enumeration value='Double'/>
      <xsd:enumeration value='Float'/>
      <xsd:enumeration value='Long'/>
      <xsd:enumeration value='Integer'/>
      <xsd:enumeration value='Date'/>
      <xsd:enumeration value='Time'/>
      <xsd:enumeration value='Timestamp'/>
      <xsd:enumeration value='Boolean'/>
      <xsd:enumeration value='Object'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
   <xsd:attribute name='format' type='xsd:string' use='optional'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='if-compare-field'>
  <xsd:complexType>
   <xsd:attribute name='field-name' type='xsd:string' use='required'/>
   <xsd:attribute name='operator' use='required'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='less'/>
      <xsd:enumeration value='greater'/>
      <xsd:enumeration value='less-equals'/>
      <xsd:enumeration value='greater-equals'/>
      <xsd:enumeration value='equals'/>
      <xsd:enumeration value='not-equals'/>
      <xsd:enumeration value='contains'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
   <xsd:attribute name='to-field-name' type='xsd:string' use='optional'/>
   <xsd:attribute name='type' default='String'>
    <xsd:simpleType>
     <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='PlainString'/>
      <xsd:enumeration value='String'/>
      <xsd:enumeration value='Double'/>
      <xsd:enumeration value='Float'/>
      <xsd:enumeration value='Long'/>
      <xsd:enumeration value='Integer'/>
      <xsd:enumeration value='Date'/>
      <xsd:enumeration value='Time'/>
      <xsd:enumeration value='Timestamp'/>
      <xsd:enumeration value='Boolean'/>
      <xsd:enumeration value='Object'/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
   <xsd:attribute name='format' type='xsd:string' use='optional'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='if-regexp'>
  <xsd:complexType>
   <xsd:attribute name='field-name' type='xsd:string' use='required'/>
   <xsd:attribute name='expr' type='xsd:string' use='required'/>
  </xsd:complexType>
 </xsd:element>

 <xsd:element name='if-empty'>
  <xsd:complexType>
   <xsd:attribute name='field-name' type='xsd:string' use='required'/>
  </xsd:complexType>
 </xsd:element>
</xsd:schema>
