components/content/dtd/widget-screen.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  To refer to this DTD in your XML file, use the following declaration:
<!DOCTYPE forms PUBLIC "-//OFBiz//DTD OFBiz Form Widget//EN" "http://www.ofbiz.org/dtds/widget-screen.dtd">
-->

<!--
 *  Copyright (c) 2004 The Open For Business Project - www.ofbiz.org
 *
 *  Permission is hereby granted, free of charge, to any person obtaining a
 *  copy of this software and associated documentation files (the "Software"),
 *  to deal in the Software without restriction, including without limitation
 *  the rights to use, copy, modify, merge, publish, distribute, sublicense,
 *  and/or sell copies of the Software, and to permit persons to whom the
 *  Software is furnished to do so, subject to the following conditions:
 *
 *  The above copyright notice and this permission notice shall be included
 *  in all copies or substantial portions of the Software.
 *
 *  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
 *  OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
 *  MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
 *  IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY
 *  CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT
 *  OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR
 *  THE USE OR OTHER DEALINGS IN THE SOFTWARE.

 *  $Id: widget-screen.dtd,v 1.2 2004/06/27 05:02:07 jonesde Exp $
-->

<!ENTITY % AllWidgets "container | include-screen | decorator-screen | decorator-parent | composite-screen | composite-section | composite-parent | label | form | menu | tree | content | sub-content | platform-specific">

<!ENTITY % AllActions "service | script">


<!ELEMENT screens ( screen+ )>

<!ELEMENT screen ( actions?, container )>
<!ATTLIST screen
    name CDATA #REQUIRED
>

<!ELEMENT actions ( (%AllActions;)* )>

<!ELEMENT service EMPTY>
<!ATTLIST service
    name CDATA #REQUIRED
>

<!ELEMENT script EMPTY>
<!ATTLIST script
    location CDATA #REQUIRED
>

<!ELEMENT container ( (%AllWidgets;)* )>
<!ATTLIST container
    id CDATA #IMPLIED
    style CDATA #IMPLIED
>

<!ELEMENT include-screen EMPTY>
<!ATTLIST include-screen
    name CDATA #REQUIRED
    location CDATA #REQUIRED
>

<!-- renders the named screen and includes the children of this elements at the point where it finds the decorator-parent tag -->
<!ELEMENT decorator-screen ( (%AllWidgets;)* )>
<!ATTLIST decorator-screen
    name CDATA #REQUIRED
    location CDATA #IMPLIED
>

<!-- this is just a place holder to tell the renderer to include the parent container's contents at this point -->
<!ELEMENT decorator-parent EMPTY>

<!ELEMENT composite-screen ( composite-section+ )>
<!ATTLIST composite-screen
    name CDATA #REQUIRED
    location CDATA #IMPLIED
>

<!ELEMENT composite-section ( (%AllWidgets;)* )>
<!ATTLIST composite-section
    name CDATA #REQUIRED
>

<!ELEMENT composite-parent EMPTY>
<!ATTLIST composite-parent
    name CDATA #REQUIRED
>

<!ELEMENT label (#PCDATA)>
<!ATTLIST label
    text CDATA #IMPLIED
    id CDATA #IMPLIED
    style CDATA #IMPLIED
>

<!ELEMENT form EMPTY>
<!ATTLIST form
    name CDATA #REQUIRED
    location CDATA #REQUIRED
>

<!ELEMENT menu EMPTY>
<!ATTLIST menu
    name CDATA #REQUIRED
    location CDATA #REQUIRED
>

<!ELEMENT tree EMPTY>
<!ATTLIST tree
    name CDATA #REQUIRED
    location CDATA #REQUIRED
>

<!ELEMENT content EMPTY>
<!ATTLIST content
    content-id CDATA #REQUIRED
>

<!ELEMENT sub-content EMPTY>
<!ATTLIST sub-content
    content-id CDATA #REQUIRED
    assoc-name CDATA #REQUIRED
>

<!-- ============== Platform Specific Elements =============== -->

<!ELEMENT platform-specific ( html?, swing? )>

<!-- ============== HTML Specific Elements =============== -->

<!ENTITY % HtmlWidgets "template | template-decorator">

<!ELEMENT html ( (%HtmlWidgets;)* )>

<!ELEMENT template EMPTY>
<!ATTLIST template
    location CDATA #REQUIRED
>

<!-- don't really want to encourage, should be done on the screen level -->
<!ELEMENT template-decorator ( (%AllWidgets;)* )>
<!ATTLIST template-decorator
    location CDATA #REQUIRED
>

<!-- ============== Swing Specific Elements =============== -->

<!ELEMENT swing EMPTY>

