core/docs/xmldefs/oagis/BODConstraints/Rules/AcknowledgePurchaseOrder.xml

<?xml version="1.0" encoding="UTF-8"?>
<sch:schema xmlns="http://www.ascc.net/xml/schematron" xmlns:oa="http://www.openapplications.org/oagis" xmlns:sch="http://www.ascc.net/xml/schematron" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.ascc.net/xml/schematron ../../../Utility/Schematron/schematron1-5.xsd">
	<sch:title>Schematron Validator for OAGI BODs</sch:title>
	<sch:ns prefix="oa" uri="http://www.openapplications.org/oagis"/>
	<sch:pattern name="Noun Level">
		<sch:rule context="oa:PurchaseOrder">
			<sch:assert test="oa:Header">oa:Header must be present</sch:assert>
			<sch:assert test="oa:Line">oa:Line must be present</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern name="Header Level Purchase Order elements">
		<sch:rule context="oa:PurchaseOrder/oa:Header">
			<sch:assert test="oa:DocumentIds">oa:DocumentIds must be present</sch:assert>
			<sch:assert test="oa:DocumentDateTime">oa:DocumentDateTime must be present</sch:assert>
			<sch:assert test="oa:Parties/oa:SoldToParty">oa:Parties/oa:SoldToParty must be present</sch:assert>
			<sch:assert test="oa:Parties/oa:SupplierParty">oa:Parties/oa:SupplierParty must be present</sch:assert>
		</sch:rule>
		<sch:rule context="oa:PurchaseOrder/oa:Header/oa:DocumentIds">
			<sch:assert test="count(*)>=1">count(*)>=1 must be present</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern name="Line Level">
		<sch:rule context="oa:PurchaseOrder/oa:Line">
			<sch:assert test="oa:LineNumber">oa:LineNumber must be present</sch:assert>
			<sch:assert test="oa:OrderItem">oa:OrderItem must be present</sch:assert>
			<sch:assert test="oa:OrderQuantity">oa:OrderQuantity must be present</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern name="SubLine Level">
		<sch:rule context="oa:PurchaseOrder/oa:Line/oa:SubLine">
			<sch:assert test="oa:OrderItem">oa:OrderItem must be present</sch:assert>
			<sch:assert test="oa:OrderQuantity">oa:OrderQuantity must be present</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern name="Line-Schedule Level">
		<sch:rule context="oa:PurchaseOrder/oa:Line/oa:Schedule">
			<sch:assert test="oa:OrderQuantity">oa:OrderQuantity must be present</sch:assert>
		</sch:rule>
	</sch:pattern>
</sch:schema>
