core/docs/xmldefs/oagis/BODConstraints/Rules/AllocateCostingActivity.xml

<?xml version="1.0" encoding="UTF-8"?>
<sch:schema xmlns="http://www.ascc.net/xml/schematron" xmlns:oa="http://www.openapplications.org/oagis" xmlns:sch="http://www.ascc.net/xml/schematron" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.ascc.net/xml/schematron ../../../Utility/Schematron/schematron1-5.xsd">
	<sch:title>Schematron Validator for OAGI Constraints</sch:title>
	<sch:ns prefix="oa" uri="http://www.openapplications.org/oagis"/>
	<sch:pattern name="Noun Level">
		<sch:rule context="oa:CostingActivity">
			<sch:assert test="oa:Header">Must have a Header.</sch:assert>
			<sch:assert test="oa:Line">Must have a Line.</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern name="Header Level">
		<sch:rule context="oa:Header">
			<sch:assert test="oa:DocumentIds">Must have a DocumentId.</sch:assert>
			<sch:assert test="oa:DocumentDateTime">Must have a DocumentDateTime.</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern name="Line Level">
		<sch:rule context="oa:Line">
			<sch:assert test="oa:LineNumber">Must have a Line Number.</sch:assert>
			<sch:assert test="oa:CostCenter">Must have a CostCenter.</sch:assert>
			<sch:assert test="oa:Actual">Must have an Actual.</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern name="Actual Level">
		<sch:rule context="oa:Line/oa:Actual">
			<sch:assert test="oa:CostCenter | oa:ProfitCenter | oa:Item | oa:Project">Must have a CostCenter, ProfitCenter, Item or Project.</sch:assert>
			<sch:assert test="oa:ItemQuantity">Must have an ItemQuantity.</sch:assert>
			<sch:assert test="oa:DocumentReferences/oa:SalesOrderDocumentReference">Must have a reference to a SalesOrder.</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern name="Attachment Level">
		<sch:rule context="oa:Attachment">
			<sch:assert test="oa:EmbeddedData | oa:URI | oa:FileName | oa:ISBN">Contact must have either EmbeddedData, URI, FileName or ISBN.</sch:assert>
		</sch:rule>
	</sch:pattern>
</sch:schema>
