core/docs/xmldefs/oagis/BODConstraints/Rules/CancelPurchaseOrder.xml

<?xml version="1.0" encoding="UTF-8"?>
<sch:schema xmlns="http://www.ascc.net/xml/schematron" xmlns:oa="http://www.openapplications.org/oagis" xmlns:sch="http://www.ascc.net/xml/schematron" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.ascc.net/xml/schematron ../../../Utility/Schematron/schematron1-5.xsd">
	<sch:title>Schematron Validator for OAGI BODs</sch:title>
	<sch:ns prefix="oa" uri="http://www.openapplications.org/oagis"/>
	<sch:pattern name="Noun Level">
		<sch:rule context="oa:PurchaseOrder">
			<sch:assert test="oa:Header">oa:Header must be present</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern name="Header Level Purchase Order elements">
		<sch:rule context="oa:PurchaseOrder/oa:Header">
			<sch:assert test="oa:DocumentIds">oa:DocumentIds must be present</sch:assert>
		</sch:rule>
		<sch:rule context="oa:PurchaseOrder/oa:Header/oa:DocumentIds">
			<sch:assert test="count(*)>=1">count(*)>=1 must be present</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern name="Line Level">
		<sch:rule context="oa:PurchaseOrder/oa:Line">
			<sch:assert test="oa:LineNumber">oa:LineNumber must be present</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern name="Line-Schedule Level">
		<sch:rule context="oa:PurchaseOrder/oa:Line/oa:Schedule">
			<sch:assert test="oa:LineNumber">oa:LineNumber must be present</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:diagnostics>
		<sch:diagnostic id="Header"> 
    DocumentId =<value-of select="oa:DocumentIds//oa:Id[1]"/>
		</sch:diagnostic>
		<sch:diagnostic id="Line"> 
   DocumentId =<value-of select="../oa:Header/oa:DocumentIds//oa:Id[1]"/>
   LineNumber =<value-of select="oa:Line/oa:LineNumber"/>
		</sch:diagnostic>
		<sch:diagnostic id="SubLine"> 
   DocumentId =<value-of select="../../oa:Header/oa:DocumentIds//oa:Id[1]"/>
   LineNumber =<value-of select="../oa:Line/oa:LineNumber"/>
		</sch:diagnostic>
	</sch:diagnostics>
</sch:schema>
