core/docs/xmldefs/oagis/BODConstraints/Rules/ChangeCreditStatus.xml

<?xml version="1.0" encoding="UTF-8"?>
<sch:schema xmlns="http://www.ascc.net/xml/schematron" xmlns:oa="http://www.openapplications.org/oagis" xmlns:sch="http://www.ascc.net/xml/schematron" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.ascc.net/xml/schematron ../../../Utility/Schematron/schematron1-5.xsd">
	<sch:title>Schematron Validator for OAGI Constraints</sch:title>
	<sch:ns prefix="oa" uri="http://www.openapplications.org/oagis"/>
	<sch:pattern name="Noun Level">
		<sch:rule context="oa:CreditStatus">
			<sch:assert test="oa:GLEntity">Must have a GLEntity.</sch:assert>
			<sch:assert test="oa:Approve">Must have a Approve.</sch:assert>
			<sch:assert test="oa:Parties">Must have a have a reference to a Party.</sch:assert>
		</sch:rule>
	</sch:pattern>
</sch:schema>
