core/docs/xmldefs/oagis/BODConstraints/Rules/GetInventoryIssue.xml

<?xml version="1.0" encoding="UTF-8"?>
<sch:schema xmlns="http://www.ascc.net/xml/schematron" xmlns:oa="http://www.openapplications.org/oagis" xmlns:sch="http://www.ascc.net/xml/schematron" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.ascc.net/xml/schematron ../../../Utility/Schematron/schematron1-5.xsd">
	<sch:title>Schematron Validator for OAGI Constraints</sch:title>
	<sch:ns prefix="oa" uri="http://www.openapplications.org/oagis"/>
	<sch:pattern name="Get InventoryIssue">
		<sch:rule context="oa:InventoryIssue">
			<sch:assert test="oa:Header">The Get InventoryIssue must have a Header component specified</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern name="Get InventoryIssue Header">
		<sch:rule context="oa:Header">
			<sch:assert test="oa:DocumentId">The InventoryIssue Header must have an "DocumentId"</sch:assert>
			<sch:assert test="oa:DocumentReferences">The  InventoryIssue Header must have a "DocumentReferences" specified</sch:assert>
		</sch:rule>
	</sch:pattern>
</sch:schema>
