core/docs/xmldefs/oagis/BODConstraints/Rules/GetItemMaster.xml

<?xml version="1.0" encoding="UTF-8"?>
<sch:schema xmlns="http://www.ascc.net/xml/schematron" xmlns:oa="http://www.openapplications.org/oagis" xmlns:sch="http://www.ascc.net/xml/schematron" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.ascc.net/xml/schematron ../../../Utility/Schematron/schematron1-5.xsd">
	<sch:title>Schematron Validator for OAGI Constraints</sch:title>
	<sch:ns prefix="oa" uri="http://www.openapplications.org/oagis"/>
	<sch:pattern name="Get ItemMaster">
		<sch:rule context="oa:ItemMaster">
			<sch:assert test="oa:Header">Get ItemMaster must have an "Header" component specified</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern name="Header">
		<sch:rule context="oa:ItemMaster/oa:Header">
			<sch:assert test="oa:ItemId/oa:Id">The Header must have an "ItemId" and "Id" specified</sch:assert>
		</sch:rule>
	</sch:pattern>
</sch:schema>
