core/docs/xmldefs/oagis/BODConstraints/Rules/GetListPurchaseOrder.xml

<?xml version="1.0" encoding="UTF-8"?>
<sch:schema xmlns="http://www.ascc.net/xml/schematron" xmlns:oa="http://www.openapplications.org/oagis" xmlns:sch="http://www.ascc.net/xml/schematron" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.ascc.net/xml/schematron ../../../Utility/Schematron/schematron1-5.xsd">
	<sch:title>Schematron Validator for OAGI BODs</sch:title>
	<sch:ns prefix="oa" uri="http://www.openapplications.org/oagis"/>
	<sch:pattern name="DataArea Level">
		<sch:rule context="oa:DataArea">
			<sch:assert test="count(oa:PurchaseOrder)>=1 and count(oa:PurchaseOrder)&lt;=2">Cardinality is invalid</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern name="Noun Level">
		<sch:rule context="oa:PurchaseOrder">
			<sch:assert test="oa:Header">oa:Header must be present</sch:assert>
		</sch:rule>
	</sch:pattern>
</sch:schema>
