core/docs/xmldefs/oagis/BODConstraints/Rules/GetMaintenanceOrder.xml

<?xml version="1.0" encoding="UTF-8"?>
<sch:schema xmlns="http://www.ascc.net/xml/schematron" xmlns:oa="http://www.openapplications.org/oagis" xmlns:sch="http://www.ascc.net/xml/schematron" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.ascc.net/xml/schematron ../../../Utility/Schematron/schematron1-5.xsd">
	<sch:title>Schematron Validator for OAGI Constraints</sch:title>
	<sch:ns prefix="oa" uri="http://www.openapplications.org/oagis"/>
	<sch:pattern name="Get Maintenance Order">
		<sch:rule context="oa:MaintenanceOrder">
			<sch:assert test="oa:Header">Get Maintenance Order must have a Header component specified</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern name="Get Maintenance Order Header">
		<sch:rule context="oa:MaintenanceOrder/oa:Header">
			<sch:assert test="oa:DocumentId/oa:Id">The MaintenanceOrder Header must have a "DocumentId" and "Id" specified</sch:assert>
		</sch:rule>
	</sch:pattern>
</sch:schema>
