core/docs/xmldefs/oagis/BODConstraints/Rules/GetParty.xml

<?xml version="1.0" encoding="UTF-8"?>
<sch:schema xmlns="http://www.ascc.net/xml/schematron" xmlns:oa="http://www.openapplications.org/oagis" xmlns:sch="http://www.ascc.net/xml/schematron" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.ascc.net/xml/schematron ../../../Utility/Schematron/schematron1-5.xsd">
	<sch:title>Schematron Validator for OAGI Constraints</sch:title>
	<sch:ns prefix="oa" uri="http://www.openapplications.org/oagis"/>
	<sch:pattern name="Noun Level">
		<sch:rule context="oa:Party">
			<sch:assert test="oa:PartyId">Must have a Party Identifier.</sch:assert>
			<sch:assert test="oa:Name">Must have a Party Name.</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern name="Attachment Level">
		<sch:rule context="oa:Attachment">
			<sch:assert test="oa:EmbeddedData | oa:URI | oa:FileName | oa:ISBN">Contact must have either EmbeddedData, URI, FileName or ISBN.</sch:assert>
		</sch:rule>
	</sch:pattern>
</sch:schema>
