core/docs/xmldefs/oagis/BODConstraints/Rules/GetPersonnel.xml

<?xml version="1.0" encoding="UTF-8"?>
<sch:schema xmlns="http://www.ascc.net/xml/schematron" xmlns:oa="http://www.openapplications.org/oagis" xmlns:sch="http://www.ascc.net/xml/schematron" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.ascc.net/xml/schematron ../../../Utility/Schematron/schematron1-5.xsd">
	<sch:title>Schematron Validator for OAGI Constraints</sch:title>
	<sch:ns prefix="oa" uri="http://www.openapplications.org/oagis"/>
	<sch:pattern name="Personnel">
		<sch:rule context="oa:Personnel">
			<sch:assert test="oa:Employee/oa:EmployeeId">Must have an EmployeeId.</sch:assert>
		</sch:rule>
	</sch:pattern>
</sch:schema>
