core/docs/xmldefs/oagis/BODConstraints/Rules/GetProductAvailability.xml

<?xml version="1.0" encoding="UTF-8"?>
<sch:schema xmlns="http://www.ascc.net/xml/schematron" xmlns:oa="http://www.openapplications.org/oagis" xmlns:sch="http://www.ascc.net/xml/schematron" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.ascc.net/xml/schematron ../../../Utility/Schematron/schematron1-5.xsd">
	<sch:title>Schematron Validator for OAGI Constraints</sch:title>
	<sch:ns prefix="oa" uri="http://www.openapplications.org/oagis"/>

	<sch:pattern name="Get ProductAvailability">
		<sch:rule context="oa:ProductAvailability">
			<sch:assert test="oa:Item">The Get ProductAvailabilitymust have an "Item"  specified</sch:assert>
			<sch:assert test="oa:ItemQuantity">The Get ProductAvailability must have an "ItemQuantity" specified</sch:assert>
			<sch:assert test="oa:RequiredDateTime">The Get ProductAvailability must have a "RequiredDateTime" specified</sch:assert>
			<sch:assert test="oa:Site">The Get ProductAvailability must have a "Site" specified</sch:assert>
		</sch:rule>
	</sch:pattern>
	
	<sch:pattern name="Get ProductAvailability Item">
		<sch:rule context="oa:ProductAvailability /oa:Item">
				<sch:assert test="oa:ItemId/oa:Id">The Get ProductAvailability must have an "ItemId" and "Id" specified</sch:assert>
		</sch:rule>
	</sch:pattern>
</sch:schema>
