core/docs/xmldefs/oagis/BODConstraints/Rules/GetRouting.xml

<?xml version="1.0" encoding="UTF-8"?>
<sch:schema xmlns="http://www.ascc.net/xml/schematron" xmlns:oa="http://www.openapplications.org/oagis" xmlns:sch="http://www.ascc.net/xml/schematron" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.ascc.net/xml/schematron ../../../Utility/Schematron/schematron1-5.xsd">
	<sch:title>Schematron Validator for OAGI Constraints</sch:title>
	<sch:ns prefix="oa" uri="http://www.openapplications.org/oagis"/>
	<sch:pattern name="Get Routing">
		<sch:rule context="oa:Routing">
			<sch:assert test="oa:Header">Get Routing must have a Header component specified</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern name="Header">
		<sch:rule context="oa:Routing/oa:Header">
			<sch:assert test="oa:DocumentId/oa:Id">The Get Routing Header must have a "DocumentId" and "Id" specified</sch:assert>
			<sch:assert test="oa:DocumentId/oa:Revision">The Get Routing Header must have a "DocumentId" and "Revision" specified</sch:assert>
			<sch:assert test="oa:DocumentId/oa:Type">The Get Routing Header must have a "DocumentId" and "Type" specified</sch:assert>
		</sch:rule>
	</sch:pattern>
</sch:schema>
