core/docs/xmldefs/oagis/BODConstraints/Rules/ListLedgerActual.xml

<?xml version="1.0" encoding="UTF-8"?>
<sch:schema xmlns="http://www.ascc.net/xml/schematron" xmlns:oa="http://www.openapplications.org/oagis" xmlns:sch="http://www.ascc.net/xml/schematron" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.ascc.net/xml/schematron ../../../Utility/Schematron/schematron1-5.xsd">
	<sch:title>Schematron Validator for OAGI Constraints</sch:title>
	<sch:ns prefix="oa" uri="http://www.openapplications.org/oagis"/>
	<sch:pattern name="Noun Level">
		<sch:rule context="oa:LedgerActual">
			<sch:assert test="oa:LedgerId">Must have a LedgerId.</sch:assert>
			<sch:assert test="oa:GLNominalAccount">Must have a GLNominalAccount.</sch:assert>
			<sch:assert test="oa:DocumentDateTime">Must have a have a DocumentDateTime</sch:assert>
			<sch:assert test="oa:AccountingDate | oa:AccountingPeriod | oa:AccountingYear">Must have a have one of  AccountingDate, AccountingPeriod, or AccountingYear</sch:assert>
			<sch:assert test="oa:EntryAmount | oa:ItemQuantity">Must have a have one of EntryAmount or ItemQuantity</sch:assert>
		</sch:rule>
	</sch:pattern>
</sch:schema>
