core/docs/xmldefs/oagis/BODConstraints/Rules/LoadReceivable.xml

<?xml version="1.0" encoding="UTF-8"?>
<sch:schema xmlns="http://www.ascc.net/xml/schematron" xmlns:oa="http://www.openapplications.org/oagis" xmlns:sch="http://www.ascc.net/xml/schematron" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.ascc.net/xml/schematron ../../../Utility/Schematron/schematron1-5.xsd">
	<sch:title>Schematron Validator for OAGI Constraints</sch:title>
	<sch:ns prefix="oa" uri="http://www.openapplications.org/oagis"/>
	<sch:pattern name="Noun Level">
		<sch:rule context="oa:Receivable">
			<sch:assert test="oa:Header">Must have a Header.</sch:assert>
			<sch:assert test="oa:Line">Must have a Line.</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern name="Header Level">
		<sch:rule context="oa:Header">
			<sch:assert test="oa:DocumentIds">Must have a DocumentId.</sch:assert>
			<sch:assert test="oa:DocumentDateTime">Must have a DocumentDateTime.</sch:assert>
			<sch:assert test="oa:Total">Must have a Total Amount.</sch:assert>
			<sch:assert test="oa:Parties/oa:PayFromParty">Must have a "PayFrom" Party.</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern name="Line Level">
		<sch:rule context="oa:Line">
			<sch:assert test="oa:LineNumber">Must have a Line Number.</sch:assert>
			<sch:assert test="oa:GLNominalAccount">Must have a GLNominalAccount.</sch:assert>
			<sch:assert test="oa:EntryAmount">Must have a EntryAmount.</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern name="Party Level">
		<sch:rule context="oa:Party">
			<sch:assert test="oa:PartyId">Must have a Party Identifier.</sch:assert>
			<sch:assert test="oa:Name">Must have a Party Name.</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern name="Contact Level">
		<sch:rule context="oa:Contact">
			<sch:assert test="oa:Person">Contact must have a Person.</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern name="Attachment Level">
		<sch:rule context="oa:Attachment">
			<sch:assert test="oa:EmbeddedData | oa:URI | oa:FileName | oa:ISBN">Contact must have either EmbeddedData, URI, FileName or ISBN.</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern name="Tax Level">
		<sch:rule context="oa:Tax">
			<sch:assert test="oa:TaxAmount">Required to have the TaxAmount of the Tax.</sch:assert>
		</sch:rule>
	</sch:pattern>
</sch:schema>
