core/docs/xmldefs/oagis/BODConstraints/Rules/LoadLedgerBudget.xml

<?xml version="1.0" encoding="UTF-8"?>
<sch:schema xmlns="http://www.ascc.net/xml/schematron" xmlns:oa="http://www.openapplications.org/oagis" xmlns:sch="http://www.ascc.net/xml/schematron" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.ascc.net/xml/schematron ../../../Utility/Schematron/schematron1-5.xsd">
	<sch:title>Schematron Validator for OAGI Constraints</sch:title>
	<sch:ns prefix="oa" uri="http://www.openapplications.org/oagis"/>
	<sch:pattern name="Noun Level">
		<sch:rule context="oa:LedgerBudget">
			<sch:assert test="oa:Header">Must have a Header.</sch:assert>
			<sch:assert test="oa:Line">Must have a Line.</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern name="Header Level">
		<sch:rule context="oa:Header">
			<sch:assert test="oa:Id">Must have a Id.</sch:assert>
			<sch:assert test="oa:GLEntity">Must have a GLEntity.</sch:assert>
			<sch:assert test="oa:BudgetStatus">Must have a BudgetStatus</sch:assert>
			<sch:assert test="oa:BudgetTransaction">Must have a BudgetTransaction </sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern name="Line Level">
		<sch:rule context="oa:Line">
			<sch:assert test="oa:LineNumber">Must have a LineNumber.</sch:assert>
			<sch:assert test="oa:GLNominalAccount">Must have a GLNominalAccount.</sch:assert>
			<sch:assert test="oa:EntryAmount | oa:ItemQuantity">Must have a EntryAmount or ItemQuantity</sch:assert>
		</sch:rule>
	</sch:pattern>
</sch:schema>
