core/docs/xmldefs/oagis/BODConstraints/Rules/ProcessInventoryReceipt.xml

<?xml version="1.0" encoding="UTF-8"?>
<sch:schema xmlns="http://www.ascc.net/xml/schematron" xmlns:oa="http://www.openapplications.org/oagis" xmlns:sch="http://www.ascc.net/xml/schematron" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.ascc.net/xml/schematron ../../../Utility/Schematron/schematron1-5.xsd">
	<sch:title>Schematron Validator for OAGI Constraints</sch:title>
	<sch:ns prefix="oa" uri="http://www.openapplications.org/oagis"/>
	<sch:pattern name="Process InventoryReceipt">
		<sch:rule context="oa:InventoryReceipt">
			<sch:assert test="oa:Header">The Process InventoryReceipt must have a Header component specified</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern name="InventoryReceipt Header">
		<sch:rule context="oa:Header">
			<sch:assert test="oa:DocumentId">The InventoryIssue Header must have an "DocumentId"</sch:assert>
			<sch:assert test="oa:DocumentReferences">The  InventoryReceipt Header must have a "DocumentReferences" specified</sch:assert>
			<sch:assert test="oa:DocumentDateTime">The  InventoryReceipt Header must have a "DocumentDateTime" specified</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern name="InventoryReceipt Line">
		<sch:rule context="oa:InventoryReceipt /oa:Line">
			<sch:assert test="oa:LineNumber">The InventoryReceipt must have a "LineNumber"</sch:assert>
			<sch:assert test="oa:ItemQuantity">The InventoryReceipt Line must have an "ItemQuantity" specified</sch:assert>
			<sch:assert test="oa:Item">The Update  InventoryReceipt Line must have an "Item"  specified</sch:assert>
			<sch:assert test="oa:Site">The InventoryReceipt Line must have a "Site" specified</sch:assert>
		</sch:rule>
	</sch:pattern>
</sch:schema>
