core/docs/xmldefs/oagis/BODConstraints/Rules/ProcessWIPRecover.xml

<?xml version="1.0" encoding="UTF-8"?>
<sch:schema xmlns="http://www.ascc.net/xml/schematron" xmlns:oa="http://www.openapplications.org/oagis" xmlns:sch="http://www.ascc.net/xml/schematron" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.ascc.net/xml/schematron ../../../Utility/Schematron/schematron1-5.xsd">
	<sch:title>Schematron Validator for OAGI Constraints</sch:title>
	<sch:ns prefix="oa" uri="http://www.openapplications.org/oagis"/>
	<sch:pattern name="Process WIPRecover">
		<sch:rule context="oa:WIPRecover">
			<sch:assert test="oa:Header">Process WIPRecover must have a Header component specified</sch:assert>
			<sch:assert test="oa:Line">Process WIPRecover must have at least one Line component specified</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern name="Process WIPRecoverHeader">
		<sch:rule context="oa:WIPRecover/oa:Header">
			<sch:assert test="oa:DocumentDateTime">The WIPRecover Header must have a "DocumentDateTime" specified</sch:assert>
			<sch:assert test="oa:ProductionOrderReference">The WIPRecover Header must have a "ProductionOrderReference" specified</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern name="Process WIPRecoverLine">
		<sch:rule context="oa:WIPRecover/oa:Line">
			<sch:assert test="oa:ItemQuantity">The WIPRecover Line must have a "ItemQuantity" specified</sch:assert>
			<sch:assert test="oa:Site">The WIPRecover Line must have a "Site" specified</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern name="Operation Reference">
		<sch:rule context="oa:OperationReference">
			<sch:assert test="oa:OperationId">An OperationReference must have an "OperationId"  specified</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern name="Production Order Reference">
		<sch:rule context="oa:ProductionOrderReference">
			<sch:assert test="oa:DocumentId/oa:Id">A ProductionOrderReference must have a "DocumentId" and an "Id"  specified</sch:assert>
		</sch:rule>
	</sch:pattern>
</sch:schema>
