core/docs/xmldefs/oagis/BODConstraints/Rules/ShowInventoryCount.xml

<?xml version="1.0" encoding="UTF-8"?>
<sch:schema xmlns="http://www.ascc.net/xml/schematron" xmlns:oa="http://www.openapplications.org/oagis" xmlns:sch="http://www.ascc.net/xml/schematron" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.ascc.net/xml/schematron ../../../Utility/Schematron/schematron1-5.xsd">
	<sch:title>Schematron Validator for OAGI Constraints</sch:title>
	<sch:ns prefix="oa" uri="http://www.openapplications.org/oagis"/>

	<sch:pattern name="Show InventoryCount">
		<sch:rule context="oa:InventoryCount">
			<sch:assert test="oa:Header">The Show  InventoryCount must have a Header component specified</sch:assert>
		</sch:rule>
	</sch:pattern>

	<sch:pattern name="Header">
		<sch:rule context="oa:InventoryCount/oa:Header">
			<sch:assert test="oa:DocumentId/oa:Id">The  InventoryCount Header must have a "DocumentId" and an "Id" specified</sch:assert>
		</sch:rule>
	</sch:pattern>

	<sch:pattern name="Show InventoryCount Line">
		<sch:rule context="oa:InventoryCount/oa:Line">
			<sch:assert test="oa:Item">The InventoryCount Line must have an "Item" specified</sch:assert>
			<sch:assert test="oa:EffectiveDateTime">The InventoryCount Line must have an "EffectiveDateTime" specified</sch:assert>
		</sch:rule>
	</sch:pattern>
	
	<sch:pattern name="Item">
		<sch:rule context="oa:InventoryCount/oa:Line/oa:Item">
			<sch:assert test="oa:ItemId/oa:Id">The Item must have an "ItemId" and an "Id" specified</sch:assert>
		</sch:rule>
	</sch:pattern>
</sch:schema>
