core/docs/xmldefs/oagis/BODConstraints/Rules/ShowPriceList.xml

<?xml version="1.0" encoding="UTF-8"?>
<sch:schema xmlns="http://www.ascc.net/xml/schematron" xmlns:oa="http://www.openapplications.org/oagis" xmlns:sch="http://www.ascc.net/xml/schematron" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.ascc.net/xml/schematron ../../../Utility/Schematron/schematron1-5.xsd">
	<sch:title>Schematron Validator for OAGI Constraints</sch:title>
	<sch:ns prefix="oa" uri="http://www.openapplications.org/oagis"/>
	<sch:pattern name="Show PriceList">
		<sch:rule context="oa:PriceList">
			<sch:assert test="oa:Header">Show PriceList must have a Header component specified</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern name="Show PriceList Header">
		<sch:rule context="oa:PriceList/oa:Header">
			<sch:assert test="oa:DocumentId/oa:Id">The Show PriceList Header must have a "DocumentId" and "Id" specified</sch:assert>
		</sch:rule>
	</sch:pattern>
</sch:schema>
