core/docs/xmldefs/oagis/BODConstraints/Rules/ShowShipment.xml

<?xml version="1.0" encoding="UTF-8"?>
<sch:schema xmlns="http://www.ascc.net/xml/schematron" xmlns:oa="http://www.openapplications.org/oagis" xmlns:sch="http://www.ascc.net/xml/schematron" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.ascc.net/xml/schematron ../../../Utility/Schematron/schematron1-5.xsd">
	<sch:title>Schematron Validator for OAGI Constraints</sch:title>
	<sch:ns prefix="oa" uri="http://www.openapplications.org/oagis"/>
	<sch:pattern name="Noun Level">
		<sch:rule context="oa:Shipment">
			<sch:assert test="oa:Header">Must have a Header component.</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern name="Header Level">
		<sch:rule context="oa:Header">
			<sch:assert test="oa:DocumentId/oa:Id">Must have a Shipment identifier component.</sch:assert>
			<sch:assert test="oa:DocumentDate">Must have a Shipment Document TimeStamp.</sch:assert>
			<sch:assert test="oa:Parties/oa:ShipFromParty">Must have identify a "ShipFrom" Party.</sch:assert>
			<sch:assert test="oa:Parties/oa:ShipFromParty/oa:PartyId">"ShipFrom" Party must have an Identifier.</sch:assert>
			<sch:assert test="oa:Parties/oa:ShipFromParty/oa:Addresses/oa:Address">"ShipFrom" Party Address.</sch:assert>
			<sch:assert test="oa:Parties/oa:ShipToParty">Must have identify a "ShipTo" Party.</sch:assert>
			<sch:assert test="oa:Parties/oa:ShipToParty/oa:PartyId">"ShipTo" Party must have an Identifier.</sch:assert>
			<sch:assert test="oa:Parties/oa:ShipToParty/oa:Addresses/oa:Address">"ShipTo" Party Address.</sch:assert>
			<sch:assert test="oa:ShipItem">At least one ShipItem must be present.</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern name="Ship Item Level">
		<sch:rule context="oa:ShipItem">
			<sch:assert test="oa:Item/oa:ItemId">The ShipItem must be identified.</sch:assert>
			<sch:assert test="oa:ShippedQuantity">The number of items shipped or planned to be shipped must be provided..</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern name="Ship Unit Level">
		<sch:rule context="oa:ShipUnit">
			<sch:assert test="oa:ShippingTrackingId">Must have a tracking number</sch:assert>
			<sch:assert test="oa:Parties/oa:CarrierParty">Must indicate the Carrier that is transporting the unit.</sch:assert>
			<sch:assert test="oa:Parties/oa:ShipFromParty">Must identify the party in which the unit is being shipped from.</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern name="ShipmentInventoryItem Level">
		<sch:rule context="oa:ShipmentInventoryItem">
			<sch:assert test="oa:ItemIds">Must have an identifier for the Item being shipped</sch:assert>
			<sch:assert test="oa:ItemQuantity">Must indicate the number of items being shipped.</sch:assert>
		</sch:rule>
	</sch:pattern>
</sch:schema>
