core/docs/xmldefs/oagis/BODConstraints/Rules/SyncShipmentSchedule.xml

<?xml version="1.0" encoding="UTF-8"?>
<sch:schema xmlns="http://www.ascc.net/xml/schematron" xmlns:oa="http://www.openapplications.org/oagis" xmlns:sch="http://www.ascc.net/xml/schematron" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.ascc.net/xml/schematron ../../../Utility/Schematron/schematron1-5.xsd">
	<sch:title>Schematron Validator for OAGI Constraints</sch:title>
	<sch:ns prefix="oa" uri="http://www.openapplications.org/oagis"/>
	<sch:pattern name="Noun Level">
		<sch:rule context="oa:ShipmentSchedule">
			<sch:assert test="oa:Header">Must have a Header component.</sch:assert>
			<sch:assert test="oa:Line">Must have at least one Line component.</sch:assert>
			<sch:assert test="oa:Header/oa:Parties/oa:ShipToParty | oa:Line/oa:Parties/oa:ShipToParty">Must have identify a "ShipTo" Party either on the header or on the Lines</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern name="Header Level">
		<sch:rule context="oa:Header">
			<sch:assert test="oa:DocumentIds/oa:DocumentId">Must have a DocumentId to identify the document.</sch:assert>
			<sch:assert test="oa:LastModificationDateTime">Must indicate the last time the Planning Schedule was updated.</sch:assert>
			<sch:assert test="oa:EffectivePeriod">Must indicate the effective time period of the PlanningSchedule</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern name="Line Level">
		<sch:rule context="oa:Line">
			<sch:assert test="oa:LineNumber">Document must have Line Number</sch:assert>
			<sch:assert test="oa:ItemQuantity">Must indicate the number of items the Customer requested.</sch:assert>
			<sch:assert test="oa:Item">Must identify the item being shipped.</sch:assert>
		</sch:rule>
	</sch:pattern>
</sch:schema>
