core/docs/xmldefs/oagis/BODConstraints/Rules/SyncSequenceSchedule.xml

<?xml version="1.0" encoding="UTF-8"?>
<sch:schema xmlns="http://www.ascc.net/xml/schematron" xmlns:oa="http://www.openapplications.org/oagis" xmlns:sch="http://www.ascc.net/xml/schematron" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.ascc.net/xml/schematron ../../../Utility/Schematron/schematron1-5.xsd">
	<sch:title>Schematron Validator for OAGI Constraints</sch:title>
	<sch:ns prefix="oa" uri="http://www.openapplications.org/oagis"/>
	<sch:pattern name="Noun Level">
		<sch:rule context="oa:SequenceSchedule">
			<sch:assert test="oa:Header">Must have a Header component.</sch:assert>
			<sch:assert test="oa:Event">Must have at least one Event component.</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern name="Header Level">
		<sch:rule context="oa:Header">
			<sch:assert test="oa:DocumentIds/oa:DocumentId">Must have a DocumentId to identify the document.</sch:assert>
			<sch:assert test="oa:LastModificationDateTime">Must indicate the last time the Planning Schedule was updated.</sch:assert>
			<sch:assert test="oa:EffectivePeriod">Must indicate the effective time period of the PlanningSchedule</sch:assert>
			<sch:assert test="oa:Parties/oa:ShipToParty">Must have identify a "ShipTo" Party </sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern name="Event Level">
		<sch:rule context="oa:Event">
			<sch:assert test="oa:RequiredDateTime">Required DateTime Timestamp must be provided.</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern name="Line Level">
		<sch:rule context="oa:Line">
			<sch:assert test="oa:SequenceNumber">Must identify the Sequence number of the line.</sch:assert>
			<sch:assert test="oa:Item">Must have an Item.</sch:assert>
			<sch:assert test="oa:RequestedQuantity">Must have the number of Items Requested.</sch:assert>
		</sch:rule>
	</sch:pattern>
</sch:schema>
