core/docs/xmldefs/oagis/BODConstraints/Rules/SyncExchangeRate.xml

<?xml version="1.0" encoding="UTF-8"?>
<sch:schema xmlns="http://www.ascc.net/xml/schematron" xmlns:oa="http://www.openapplications.org/oagis" xmlns:sch="http://www.ascc.net/xml/schematron" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.ascc.net/xml/schematron ../../../Utility/Schematron/schematron1-5.xsd">
	<sch:title>Schematron Validator for OAGI Constraints</sch:title>
	<sch:ns prefix="oa" uri="http://www.openapplications.org/oagis"/>
	<sch:pattern name="Noun Level">
		<sch:rule context="oa:ExchangeRate">
			<sch:assert test="oa:From">Must have a Currency From.</sch:assert>
			<sch:assert test="oa:To">Must have a Currency To.</sch:assert>
			<sch:assert test="oa:EffectivePeriod">Must have an effective period for the exchange rate.</sch:assert>
			<sch:assert test="oa:Multiplier">Must have a Multipleir that when applied to the From currency results in the To currency.</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern name="Contact Level">
		<sch:rule context="oa:Contact">
			<sch:assert test="oa:Person">Contact must have a Person.</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern name="Attachment Level">
		<sch:rule context="oa:Attachment">
			<sch:assert test="oa:EmbeddedData | oa:URI | oa:FileName | oa:ISBN">Contact must have either EmbeddedData, URI, FileName or ISBN.</sch:assert>
		</sch:rule>
	</sch:pattern>
</sch:schema>
