core/docs/xmldefs/oagis/BODConstraints/Rules/UpdatePickList.xml

<?xml version="1.0" encoding="UTF-8"?>
<sch:schema xmlns="http://www.ascc.net/xml/schematron" xmlns:oa="http://www.openapplications.org/oagis" xmlns:sch="http://www.ascc.net/xml/schematron" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.ascc.net/xml/schematron ../../../Utility/Schematron/schematron1-5.xsd">
	<sch:title>Schematron Validator for OAGI Constraints</sch:title>
	<sch:ns prefix="oa" uri="http://www.openapplications.org/oagis"/>
	<sch:pattern name="Update PickList">
		<sch:rule context="oa:PickList">
			<sch:assert test="oa:Header">Update PickList must have a Header component specified</sch:assert>
			<sch:assert test="oa:Line">Update PickList must have at least one Line component specified</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern name="Update PickList Header">
		<sch:rule context="oa:PickList/oa:Header">
			<sch:assert test="oa:DocumentId/oa:Id">The Update PickList Header must have a "DocumentId" and "Id" specified</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern name="Update PickList Line">
		<sch:rule context="oa:PickList /oa:Line">
			<sch:assert test="oa:LineNumber">The PickList Line must have an "Item" specified</sch:assert>
			<sch:assert test="oa:ShippedQuantity">The PickList Line must have a "ShippedQuantity" specified</sch:assert>
			<sch:assert test="oa:Detail">The PickList Line must have at least one "Detail" component specified</sch:assert>
		</sch:rule>
	</sch:pattern>
</sch:schema>
