core/docs/xmldefs/oagis/BODConstraints/Rules/UpdateInspection.xml

<?xml version="1.0" encoding="UTF-8"?>
<sch:schema xmlns="http://www.ascc.net/xml/schematron" xmlns:oa="http://www.openapplications.org/oagis" xmlns:sch="http://www.ascc.net/xml/schematron" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.ascc.net/xml/schematron ../../../Utility/Schematron/schematron1-5.xsd">
	<sch:title>Schematron Validator for OAGI Constraints</sch:title>
	<sch:ns prefix="oa" uri="http://www.openapplications.org/oagis"/>
	<sch:pattern name="Noun Level">
		<sch:rule context="oa:Inspection">
			<sch:assert test="oa:DocumentId/oa:Id">Must have a DocumentId with an Id.</sch:assert>
			<sch:assert test="oa:InspectionDateTime">Must have an InspectionDateTime.</sch:assert>
			<sch:assert test="oa:ItemIds">Must have ItemIds for the Item inspected.</sch:assert>
			<sch:assert test="oa:AcceptedQuantity">Must have the AcceptedQuantity.</sch:assert>
			<sch:assert test="oa:RejectedQuantity">Must have RejectedQuantity.</sch:assert>
			<sch:assert test="oa:DocumentReferences/oa:PurchaseOrderDocumentReference | oa:DocumentReferences/oa:ReceiptDocumentReference">Must have a reference to the PurchaseOrder or to the DeliveryReceipt.</sch:assert>
			<sch:assert test="oa:Site">Must have a Site.</sch:assert>
			<sch:assert test="oa:Result">Must have a Result component.</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern name="Result Level">
		<sch:rule context="oa:Result">
			<sch:assert test="oa:Status">Must have a Status to indicate whether the items are good or bad.</sch:assert>
			<sch:assert test="oa:ItemQuantity">Must have the ItemQuantity.</sch:assert>
			<sch:assert test="oa:ReasonCode">Must have a ReasonCode.</sch:assert>
		</sch:rule>
	</sch:pattern>
</sch:schema>
