core/docs/xmldefs/oagis/Resources/Nouns/ElectronicCatalog.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
    License information for this file is provided in LICENSE.TXT
    For support, more information, or to report implementation bugs, 
    please contact the Open Applications Group at xml@openapplications.org 
     
    ** Revision: 8.0 **
    ** Date: 05 April 2002 **
    Open Applications Group XSD
    Copyright 1998-2002, All Rights Reserved
    
    Name: Nouns/ElectronicCatalog.xsd
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis" targetNamespace="http://www.openapplications.org/oagis" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xs:include schemaLocation="../Components.xsd"/>
        <xs:complexType name="ElectronicCatalog">
                <xs:complexContent>
                        <xs:extension base="Noun">
                                <xs:sequence>
                                        <xs:element ref="Header" minOccurs="0"/>
                                        <xs:element ref="CatalogItemLine" minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element ref="CatalogCommodityLine" minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                        </xs:extension>
                </xs:complexContent>
        </xs:complexType>
        <xs:complexType name="ElectronicCatalogHeader">
                <xs:annotation>
                        <xs:documentation source="http://www.openapplications.org/oagis">This identifies header information about the catalog. This information applies to all the lines in the catalog. PartyReferences in the Header are defaults that apply to all the catalog lines, if there is no value specified at line level</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="DocumentId" type="PartyGenericIdType" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation source="http://www.openapplications.org/oagis">Is the Catalog identifier. The business use for revisions of catalogs is in the area of conflict resolution.  The highest revision of a given catalog name will always supercede lower revision numbers.  For example, if the Engineering Supplies Spring Catalog version 2 with effective dates of February 28th through May 31st will always supercede Engineering Supplies Spring Catalog version 1 with effective dates of February 28th through May 31st</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="Name" type="Name" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                        <xs:documentation source="http://www.openapplications.org/oagis">Is the name of the Catalog.</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="Currency" type="Currency" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation source="http://www.openapplications.org/oagis">Is the default currency of the Catalog. If a Currencey is specified for the catalog, all the prices in the catalog are assumed to be in the corresponding currency.</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="EffectivePeriod" type="TimePeriod" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation source="http://www.openapplications.org/oagis">Is the effective period of the Catalog or Catalog revision.

The EffectiveTimePeriod  indicates the effectivity date and the expiration date for the validity of the catalog. Often times the effectivity of a Catalog Revision is indicated by the release of a new revision of the Catalog. As such the Finish Effectivity date is never specified but assumed to be the Starting Effectivity date on the next revision</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:choice minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation source="http://www.openapplications.org/oagis">This identifies the issuer of the catalog. For Catalogs that are internal to the organization, the issuer is identified by a GLEntity and/ or Business. Catalogs that are published by external entities e.g. suppliers or manufacturers will have the publisher identified as a PublisherParty</xs:documentation>
                                </xs:annotation>
                                <xs:sequence>
                                        <xs:element ref="Business" minOccurs="0"/>
                                        <xs:element ref="Site" minOccurs="0">
                                                <xs:annotation>
                                                        <xs:documentation source="http://www.openapplications.org/oagis">Is the GLEntity that is issuing the catalog</xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                </xs:sequence>
                                <xs:element ref="PublisherParty" minOccurs="0"/>
                        </xs:choice>
                        <xs:element ref="Parties" minOccurs="0"/>
                        <xs:element name="UsageRestriction" type="Usage" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation source="http://www.openapplications.org/oagis">UsageRestriction is used to indicate additional restrictions on the catalog usage. The implementation of this is to be agreed upon between trading partners. An example of usage of this is when a supplier has different catalogs – one for general usage and others for usage by specific customers/ group of customers. In this scenario, the UsageRestriction can be specified as PUBLIC/ PRIVATE</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="Description" type="Description" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                        <xs:documentation source="http://www.openapplications.org/oagis">Free-form description of the Catalog.</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element ref="ClassificationScheme" minOccurs="0"/>
                        <xs:element ref="CatalogQualifier" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element ref="UserArea" minOccurs="0"/>
                </xs:sequence>
        </xs:complexType>
        <xs:element name="ElectronicCatalog" type="ElectronicCatalog" substitutionGroup="Noun">
                <xs:annotation>
                        <xs:documentation source="http://www.openapplications.org/oagis">ElectronicCatalog is a list of items or commodities. The items may be arranged according to a classification scheme. The catalog can identify the classification scheme it uses, and the classifications and features that are defined within that scheme. Within the catalog, each item can be classified into one oe more categories , and the specifications of each item can be identified. A catalog has at least one publisher and one or many suppliers for the items in the catalog.</xs:documentation>
                </xs:annotation>
        </xs:element>
        <xs:element name="Header" type="ElectronicCatalogHeader"/>
        <xs:complexType name="ClassificationScheme">
                <xs:annotation>
                        <xs:documentation source="http://www.openapplications.org/oagis">This identifies the classification scheme used by all the items in the catalog. Additionally, this also identifies all the classifications within this scheme and their hierarchical representation. The features that are defined in this classification scheme and also the features that are associated with each hierarchical classification representation can also be specified </xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="ClassificationSchemeId" type="DocumentIdType" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation source="http://www.openapplications.org/oagis">Is the identifier of the Classification Scheme.</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="Description" type="Description" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                        <xs:documentation source="http://www.openapplications.org/oagis">Description of the Classification Scheme.</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element ref="Note" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element ref="ClassificationMaster" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element ref="ClassificationStructure" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element ref="Feature" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element ref="UserArea" minOccurs="0"/>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="ClassificationMaster">
                <xs:annotation>
                        <xs:documentation source="http://www.openapplications.org/oagis">This identifies the individual entities that are strung together in defining a hierarchical classification structure</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="ClassificationId" type="Id" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation source="http://www.openapplications.org/oagis">The ClassificationId identifies a unique classification element</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="ClassificationLevel" type="ClassificationLevel" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation source="http://www.openapplications.org/oagis">This is an enumeration with suggested/ resticted values - ROOT, BRANCH, LEAF</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="Description" type="Description" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                        <xs:documentation source="http://www.openapplications.org/oagis">Free-form description of the Catalog Classification.</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element ref="UserArea" minOccurs="0"/>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="ClassificationStructure">
                <xs:annotation>
                        <xs:documentation source="http://www.openapplications.org/oagis">This identifies a hierarchical association of ClassificationIds</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="ClassificationStructureId" type="Id" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation source="http://www.openapplications.org/oagis">This Id is a unique reference to a classification hierarchy. It can also be used to represent a concatenated set of associated classifications</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="ClassificationId" type="Id" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                        <xs:documentation source="http://www.openapplications.org/oagis">The ClassificationIds identify a single or hierarchical association of classifications. For example, Pump, Centrifugal would be represented by two ClassificationIds, the first one as Pump, the second as Centrifugal</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="Description" type="Description" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                        <xs:documentation source="http://www.openapplications.org/oagis">Description of the Classification Structure.</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="Note" type="Note" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element ref="Feature" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                        <xs:documentation source="http://www.openapplications.org/oagis">Features that are common to the classification are specified here. For example, if PUMP is a classification, then the features speified here would apply to ALL pumps</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element ref="UserArea" minOccurs="0"/>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="CatalogItemLine">
                <xs:annotation>
                        <xs:documentation source="http://www.openapplications.org/oagis">The CatalogItem represents a line item in a catalog. The PartyReferences in the CatalogItemLine identify the provider of the item. Depending on the exchange scenario, the provider may be either a Supplier, Manufacturer or a Catalog Party. If no PartyReference is specified at line level, the header value of the PartyReference is assumed to hold true for the line </xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="LineNumber" type="LineNumber" minOccurs="0"/>
                        <xs:element ref="ItemId" minOccurs="0"/>
                        <xs:element name="ItemType" type="ItemType" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation source="http://www.openapplications.org/oagis">Indicates whether the item is a good, a service, or a resource.  This is used to describe inventoried items.  Examples of this value include documents, jigs, fixtures, tools, or bulk items.

SYNONYMS
  Resource Classification
  Item Category</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="UnitOfMeasure" type="UOM" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation source="http://www.openapplications.org/oagis">Indicates the UnitOfMeasure in which the Item is available to be sold.</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="Description" type="Description" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                        <xs:documentation source="http://www.openapplications.org/oagis">Free-form description of the Catalog Line.</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element ref="Parties" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation source="http://www.openapplications.org/oagis">The PartyReference within the CatalogItem identifies the suppliers of the item in this catalog. The SupplierParty can be specified either in the Catalog Header, or optionally here in the CatalogItem</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="ItemClassification" type="ItemClassification" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                        <xs:documentation source="http://www.openapplications.org/oagis">The ClassificationIds identify a single or hierarchical association of classifications. For example, Pump, Centrifugal would be represented by two ClassificationIds, the first one as Pump, the second as Centrifugal</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element ref="Feature" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element ref="ItemPrice" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element ref="Attachments" minOccurs="0"/>
                        <xs:element ref="UserArea" minOccurs="0"/>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="ItemPrice">
                <xs:annotation>
                        <xs:documentation source="http://www.openapplications.org/oagis">This identifies a unit price for  an item</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:choice minOccurs="0">
                                <xs:element name="UnitPrice" type="AmountPerQuantity">
                                        <xs:annotation>
                                                <xs:documentation source="http://www.openapplications.org/oagis">Indicates the amount per quantity.</xs:documentation>
                                        </xs:annotation>
                                </xs:element>
                                <xs:element name="PriceCode" type="Code">
                                        <xs:annotation>
                                                <xs:documentation source="http://www.openapplications.org/oagis">Is a price code the communicates pricing information,</xs:documentation>
                                        </xs:annotation>
                                </xs:element>
                        </xs:choice>
                        <xs:element name="PriceType" type="Type" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation source="http://www.openapplications.org/oagis">The PriceType identifies if the Price is List Price, Cost Price, Discounted Price, Special Price etc. This is not an enumerated list</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="EffectivePeriod" type="TimePeriodAny" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation source="http://www.openapplications.org/oagis">Is the effective time period of the ItemPrice.</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="Description" type="Description" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element name="Note" type="Note" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element ref="CustomerReference" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation source="http://www.openapplications.org/oagis">The PartyReference in ItemPrice is used to indicate prices applicable for a specific customer</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element ref="DocumentReferences" minOccurs="0"/>
                        <xs:element ref="LinePriceBreak" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element ref="UserArea" minOccurs="0"/>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="CatalogCommodityLine">
                <xs:annotation>
                        <xs:documentation source="http://www.openapplications.org/oagis">This is applicable when the catalog is used to identify commodities rather than line items</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="LineNumber" type="LineNumber" minOccurs="0"/>
                        <xs:element name="CommodityCode" type="Commodity" minOccurs="0"/>
                        <xs:element name="Description" type="Description" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element ref="Parties" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation source="http://www.openapplications.org/oagis">The SupplierPartyReference within the CatalogItemCategory identifies the suppliers of the item in this catalog. The SupplierPartyReference can be specified either in the Catalog Header, or optionally here in the CatalogItem</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element ref="UserArea" minOccurs="0"/>
                </xs:sequence>
        </xs:complexType>
        <xs:element name="ClassificationMaster" type="ClassificationMaster">
                <xs:annotation>
                        <xs:documentation source="http://www.openapplications.org/oagis">Describes the individual classifications available in the Classification Scheme. Individual classifications are put together in a hierarchical manner to create a classification structure.</xs:documentation>
                </xs:annotation>
        </xs:element>
        <xs:element name="ClassificationStructure" type="ClassificationStructure">
                <xs:annotation>
                        <xs:documentation source="http://www.openapplications.org/oagis">Describes a hierarchical association of classifications. A unique identifier for each ClassificationStructure can also be specified.</xs:documentation>
                </xs:annotation>
        </xs:element>
        <xs:element name="Feature" type="FeatureValue">
                <xs:annotation>
                        <xs:documentation source="http://www.openapplications.org/oagis">This identifies the features of an item or a classification</xs:documentation>
                </xs:annotation>
        </xs:element>
        <xs:element name="ItemPrice" type="ItemPrice">
                <xs:annotation>
                        <xs:documentation source="http://www.openapplications.org/oagis">Identifies the price of the item.</xs:documentation>
                </xs:annotation>
        </xs:element>
        <xs:simpleType name="ClassificationLevel">
                <xs:restriction base="xs:string"/>
        </xs:simpleType>
        <xs:element name="LinePriceBreak" type="LinePriceBreak"/>
        <xs:complexType name="ElectronicCatalogLine">
                <xs:sequence>
                        <xs:element name="LineNumber" type="LineNumber" minOccurs="0"/>
                        <xs:choice minOccurs="0">
                                <xs:element name="CatalogItemLine" type="CatalogItemLine"/>
                                <xs:element name="CatalogCommodityLine" type="CatalogCommodityLine"/>
                        </xs:choice>
                        <xs:element ref="UserArea" minOccurs="0"/>
                </xs:sequence>
        </xs:complexType>
        <xs:element name="ClassificationScheme" type="ClassificationScheme"/>
        <xs:complexType name="LinePriceBreak">
                <xs:sequence>
                        <xs:choice>
                                <xs:element name="PriceCode" type="Code" minOccurs="0">
                                        <xs:annotation>
                                                <xs:documentation source="http://www.openapplications.org/oagis">Is a Code that can be used to identify the price</xs:documentation>
                                        </xs:annotation>
                                </xs:element>
                                <xs:element name="DiscountValue" type="Amount" minOccurs="0">
                                        <xs:annotation>
                                                <xs:documentation source="http://www.openapplications.org/oagis">Allows a flat amount to be discounted per item.</xs:documentation>
                                        </xs:annotation>
                                </xs:element>
                                <xs:element name="DiscountPercent" type="Percent" minOccurs="0">
                                        <xs:annotation>
                                                <xs:documentation source="http://www.openapplications.org/oagis">Indicates the percentage of the PriceBreak.</xs:documentation>
                                        </xs:annotation>
                                </xs:element>
                                <xs:element name="OverRidePrice" type="AmountPerQuantity" minOccurs="0">
                                        <xs:annotation>
                                                <xs:documentation source="http://www.openapplications.org/oagis">This is the price that overrides the list price when a given price break requirement is reached. For example, if a customer orders over 50,000 dollars worth of computer equipment, he may qualify for an overriding price.  The list price of $800 per will be modified to $700 per</xs:documentation>
                                        </xs:annotation>
                                </xs:element>
                        </xs:choice>
                        <xs:choice>
                                <xs:element name="PriceBreakQuantity" type="Quantity" minOccurs="0">
                                        <xs:annotation>
                                                <xs:documentation source="http://www.openapplications.org/oagis">The quantity that must be purchased of the item or commodity on a given price list line before the benefit, or until the detriment of a given price break line will apply.  For example, if a customer orders up to 5000 units of flour, they will get a price of $8:00 a case.  If the customer buys 5500 units of flour they will get a price of $7.50 a case</xs:documentation>
                                        </xs:annotation>
                                </xs:element>
                                <xs:element name="PriceBreakAmount" type="Amount" minOccurs="0">
                                        <xs:annotation>
                                                <xs:documentation source="http://www.openapplications.org/oagis">The monetary amount that must be spent on a given price list line before the benefit or until the detriment of a given price break line will apply.  For example, if a customer orders up to 5000 dollars worth of flour, they will get a price of $8:00 a case.  If the customer buys 5500 dollars worth of flour they will get a price of $7.50 a case</xs:documentation>
                                        </xs:annotation>
                                </xs:element>
                        </xs:choice>
                        <xs:element name="EffectivePeriod" type="TimePeriodAny" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation source="http://www.openapplications.org/oagis">Indicates the period in which the Line Price Break is in effect.</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="Description" type="Description" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                        <xs:documentation source="http://www.openapplications.org/oagis">Description of the PriceBreak.</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element ref="UserArea" minOccurs="0"/>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="ItemClassification">
                <xs:sequence>
                        <xs:choice minOccurs="0">
                                <xs:element name="ClassificationStructureId" type="Id">
                                        <xs:annotation>
                                                <xs:documentation source="http://www.openapplications.org/oagis">This Id is a unique reference to a classification hierarchy. It can also be used to represent a concatenated set of associated classifications</xs:documentation>
                                        </xs:annotation>
                                </xs:element>
                                <xs:element name="ClassificationId" type="Id" maxOccurs="unbounded">
                                        <xs:annotation>
                                                <xs:documentation source="http://www.openapplications.org/oagis">The ClassificationIds identify a single or hierarchical association of classifications. For example, Pump, Centrifugal would be represented by two ClassificationIds, the first one as Pump, the second as Centrifugal</xs:documentation>
                                        </xs:annotation>
                                </xs:element>
                        </xs:choice>
                        <xs:element name="Description" type="Description" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element name="Note" type="Note" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element ref="Attachments" minOccurs="0"/>
                        <xs:element ref="UserArea" minOccurs="0"/>
                </xs:sequence>
        </xs:complexType>
        <xs:element name="ItemClassification" type="ItemClassification">
                <xs:annotation>
                        <xs:documentation source="http://www.openapplications.org/oagis">Identifies the classification families to which an item belongs</xs:documentation>
                </xs:annotation>
        </xs:element>
        <xs:complexType name="CatalogQualifier">
                <xs:sequence>
                        <xs:choice minOccurs="0">
                                <xs:element ref="Parties" minOccurs="0"/>
                                <xs:element ref="Business" minOccurs="0"/>
                        </xs:choice>
                        <xs:element ref="Site" minOccurs="0"/>
                        <xs:element name="Description" type="Description" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                        <xs:documentation source="http://www.openapplications.org/oagis">Description of the PriceList.</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element ref="UserArea" minOccurs="0"/>
                </xs:sequence>
        </xs:complexType>
        <xs:element name="CatalogQualifier" type="CatalogQualifier">
                <xs:annotation>
                        <xs:documentation source="http://www.openapplications.org/oagis">This identifies the usage of the catalog. The Catalog may be intended for use by a specific business or a division of business within an organization, or it may be for specific customers or suppliers. The usage restriction could be made more specific to sites within a customer organization or business entity</xs:documentation>
                </xs:annotation>
        </xs:element>
        <xs:element name="CatalogItemLine" type="CatalogItemLine"/>
        <xs:element name="CatalogCommodityLine" type="CatalogCommodityLine"/>
</xs:schema>
