core/docs/xmldefs/oagis/Resources/Nouns/SequenceSchedule.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
    License information for this file is provided in LICENSE.TXT
    For support, more information, or to report implementation bugs, 
    please contact the Open Applications Group at xml@openapplications.org 
     
    ** Revision: 8.0 **
    ** Date: 05 April 2002 **
    Open Applications Group XSD
    Copyright 1998-2002, All Rights Reserved
    
    Name: Nouns/SequenceSchedule.xsd
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis" targetNamespace="http://www.openapplications.org/oagis" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xs:include schemaLocation="../MfgComponents.xsd"/>
        <xs:include schemaLocation="Document.xsd"/>
        <xs:complexType name="SequenceSchedule">
                <xs:annotation>
                        <xs:documentation source="http://www.openapplications.org/oagis">A Sequence Schedule is used to indicate sequencial scheduling of ordered items in the manufacturing process. Commonly, the sequence schedule is generated by a work in process application and transmitted to an order or material planning application.</xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                        <xs:extension base="Noun">
                                <xs:sequence>
                                        <xs:element ref="Header"/>
                                        <xs:element ref="Event" minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                        </xs:extension>
                </xs:complexContent>
        </xs:complexType>
        <xs:complexType name="SequenceScheduleHeader">
                <xs:annotation>
                        <xs:documentation source="http://www.openapplications.org/oagis">Information that applies to the entire sequence schedule.</xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                        <xs:extension base="DocumentHeader">
                                <xs:sequence>
                                        <xs:element name="EffectivePeriod" type="TimePeriodAny" minOccurs="0">
                                                <xs:annotation>
                                                        <xs:documentation source="http://www.openapplications.org/oagis">The effective dates for the schedule represents the schedule horizon dates and times . This is derived based on demand contained within the schedule if not specified. This can be a date or a time depending on the granularity of the manufacturing process.</xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element ref="Parties" minOccurs="0"/>
                                        <xs:element ref="UserArea" minOccurs="0"/>
                                </xs:sequence>
                        </xs:extension>
                </xs:complexContent>
        </xs:complexType>
        <xs:complexType name="SequenceScheduleEvent">
                <xs:annotation>
                        <xs:documentation source="http://www.openapplications.org/oagis">The Event represents date and time information for the associated Schedule Line(s). The date and time the detail lines of the sequence schedule are required to be delivered. This allows Sequence Lines to be grouped together by an Event and minimizes the amount of potential redundant data.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="RequiredDateTime" type="DateTimeAny" minOccurs="0"/>
                        <xs:element name="BeginSequenceNumber" type="SequenceCode" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation source="http://www.openapplications.org/oagis">The beginning production sequence number, name, or identifier given to a manufactured or assembled item for use in sequenced part requirements and shipments for a given day’s requirements.</xs:documentation>
                                        <xs:documentation source="http://www.openapplications.org/oagis">The fields ProductionSequenceBegin and ProductionSequenceEnd contain the range of the production sequence numbers for use in sequenced part requirements and shipments specified in the SequenceScheduleLine data type</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="EndSequenceNumber" type="SequenceCode" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation source="http://www.openapplications.org/oagis">The ending production sequence number, name, or identifier given to a manufactured or assembled item for use in sequenced part requirements and shipments for a given day’s requirements</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element ref="Line" minOccurs="0"/>
                        <xs:element ref="UserArea" minOccurs="0"/>
                </xs:sequence>
        </xs:complexType>
        <xs:complexType name="SequenceScheduleLine">
                <xs:annotation>
                        <xs:documentation source="http://www.openapplications.org/oagis">Represents the detail lines of the sequence schedule such as the item ordered along with quantity, delivery date and other schedule information.
This Data Type is used only as a part of the SequenceScheduleEvent and cannot exit without it.
Often the PurchaseOrder is referenced on a sequence schedule line.</xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                        <xs:extension base="DocumentLine">
                                <xs:sequence>
                                        <xs:element name="Authorization" type="AuthorizationId" minOccurs="0" maxOccurs="unbounded">
                                                <xs:annotation>
                                                        <xs:documentation source="http://www.openapplications.org/oagis">Represents a list of codes that specify status values for the acknowledgment.
Valid codes are:
- Purchase Release
- Manufacturing Release
- Shipment Release</xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="Description" type="Description" minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element name="SequenceNumber" type="SequenceCode" minOccurs="0">
                                                <xs:annotation>
                                                        <xs:documentation source="http://www.openapplications.org/oagis">The production sequence number, name, or identifier given to a manufactured or assembled item for use in sequenced part requirements and shipments.</xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element ref="Item" minOccurs="0"/>
                                        <xs:element name="FinishedGoodItem" type="Item" minOccurs="0">
                                                <xs:annotation>
                                                        <xs:documentation source="http://www.openapplications.org/oagis">Is the finished good en item. In the case that the Item is raw material or sub-compoenent. This identifies the finished good that it is for. For example in case of Manufacturing an airplane and the compenents used must be tracked.</xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="ActualDeliveryDateTime" type="DateTimeAny" minOccurs="0">
                                                <xs:annotation>
                                                        <xs:documentation source="http://www.openapplications.org/oagis">The actual delivery date reported by?</xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="ReceivedDateTime" type="DateTimeAny" minOccurs="0">
                                                <xs:annotation>
                                                        <xs:documentation source="http://www.openapplications.org/oagis">The recieved date reported by?</xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="LastShipmentDateTime" type="DateTimeAny" minOccurs="0">
                                                <xs:annotation>
                                                        <xs:documentation source="http://www.openapplications.org/oagis">Indicates the date and time an item was shipped. It is used to specify the last shipment date for the particular sequenced part.</xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="LastShipmentReceivedQuantity" type="Quantity" minOccurs="0">
                                                <xs:annotation>
                                                        <xs:documentation source="http://www.openapplications.org/oagis">Indicates the actual amount shipped. It is used to specify the last quanity recieved for a particular sequenced part.</xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="RequestedQuantity" type="Quantity" minOccurs="0">
                                                <xs:annotation>
                                                        <xs:documentation source="http://www.openapplications.org/oagis">The customer’s actual requested amount of the item to be shipped.</xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="DeliveredQuantity" type="Quantity" minOccurs="0">
                                                <xs:annotation>
                                                        <xs:documentation source="http://www.openapplications.org/oagis">Indicates the quantity delivered.</xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="ReceivedQuantity" type="Quantity" minOccurs="0">
                                                <xs:annotation>
                                                        <xs:documentation source="http://www.openapplications.org/oagis">Indicates the quantity recieved.</xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="ShippedQuantity" type="Quantity" minOccurs="0">
                                                <xs:annotation>
                                                        <xs:documentation source="http://www.openapplications.org/oagis">Indicates the quantity recieved.</xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="LoadingDock" type="LoadingDockCode" minOccurs="0">
                                                <xs:annotation>
                                                        <xs:documentation source="http://www.openapplications.org/oagis">Itentifies the loading dock.</xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="LineFeed" type="xs:string" minOccurs="0">
                                                <xs:annotation>
                                                        <xs:documentation source="http://www.openapplications.org/oagis">Indicates the location on a production line that components are to enter the production line.</xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="Packing" type="Packaging" minOccurs="0">
                                                <xs:annotation>
                                                        <xs:documentation source="http://www.openapplications.org/oagis">Represents the secondary packing code used to further identify the package of the product. Hmmm, where is the primary packing code?</xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="PackingDescription" type="Description" minOccurs="0">
                                                <xs:annotation>
                                                        <xs:documentation source="http://www.openapplications.org/oagis">Contains information about the packing material, such as dimensions and description. Examples include Bubble pack and Styrofoam peanuts</xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="Priority" type="Priority" minOccurs="0">
                                                <xs:annotation>
                                                        <xs:documentation source="http://www.openapplications.org/oagis">Priority of a document, task, or activity. Could be used for production orders, sales orders, purchase orders, etc.
When used within the context of Schedules, priorities specify the urgency of the demand schedule, the higher the number the lower the priority.
Examples of values for this field include:
1, 2, 3
or
Highest Priority, Lower, Least</xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="Project" type="Project" minOccurs="0">
                                                <xs:annotation>
                                                        <xs:documentation source="http://www.openapplications.org/oagis">Identifies a set of tasks with the following attributes: a singular purpose, a start and end date, those that accumulate costs, and those that may have materials and overhead.</xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element ref="Status" minOccurs="0"/>
                                        <xs:group ref="References" minOccurs="0"/>
                                        <xs:element ref="UserArea" minOccurs="0"/>
                                </xs:sequence>
                        </xs:extension>
                </xs:complexContent>
        </xs:complexType>
        <xs:element name="SequenceSchedule" type="SequenceSchedule" substitutionGroup="Noun">
                <xs:annotation>
                        <xs:documentation source="http://www.openapplications.org/oagis">A ShipTo Partner is required to represent the business partner that the goods or services are shipped to.
Optionally, partner types SoldTo, BillTo and ShipFrom, and Supplier can be used.
</xs:documentation>
                </xs:annotation>
        </xs:element>
        <xs:element name="Header" type="SequenceScheduleHeader">
                <xs:annotation>
                        <xs:documentation source="http://www.openapplications.org/oagis">Header level informatoin for the schedule.</xs:documentation>
                </xs:annotation>
        </xs:element>
        <xs:element name="Event" type="SequenceScheduleEvent">
                <xs:annotation>
                        <xs:documentation source="http://www.openapplications.org/oagis">Sequence Schedule Date and Time information associated with the Schedule Line.</xs:documentation>
                </xs:annotation>
        </xs:element>
        <xs:element name="Line" type="SequenceScheduleLine">
                <xs:annotation>
                        <xs:documentation source="http://www.openapplications.org/oagis">Line level informatoin for the schedule within a particular event.</xs:documentation>
                </xs:annotation>
        </xs:element>
</xs:schema>
